<%
#   Created: Michael White
#   Date: 13/05/2016
#   
#   Criteria Partial from /buy
#
%>
<div class="criteria-tag-field">
	<div class="ui selection multiple dropdown" id="tag_dropdown">
	</div>
</div>
<div class="criteria-selection">
	<div class="big ui dropdown right labeled icon button" id="criteria_dropdown">
		<span class="text" id="button-name">Add Search Criteria</span>
		<i class="right add icon"></i>
		<div class="menu">
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Appliances</span>
				<div class="menu">
					<% additional_tags = add_edit_get_tag_types_for_category("Appliances") %>
					<% if additional_tags %>
						<% # Create a menu item for each tag_type %>
						<% additional_tags.each do |tag| %>
							<div class="item" value="<%= tag.tag_type_category%>" data-value"<%= tag.tag_type_label %>_<%= tag.tag_type_category %>"><%= tag.tag_type_label %></div>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Bathrooms</span>
				<div class="menu">
					<div class="item" value="Bathrooms">1 Bathroom</div>
					<div class="item" value="Bathrooms">2 Bathrooms</div>
					<div class="item" value="Bathrooms">3 Bathrooms</div>
					<div class="item" value="Bathrooms">4 Bathrooms</div>
					<div class="item" value="Bathrooms">5 Bathrooms</div>
					<div class="item" value="Bathrooms">6 Bathrooms</div>
					<div class="item" value="Bathrooms">7 Bathrooms</div>
					<div class="item" value="Bathrooms">8 Bathrooms</div>
					<div class="item" value="Bathrooms">9 Bathrooms</div>
					<div class="item" value="Bathrooms">10 Bathrooms</div>
				</div>
			</div>
					<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Bedrooms</span>
				<div class="menu">
					<div class="item" value="Bedrooms">1 Bedroom</div>
					<div class="item" value="Bedrooms">2 Bedrooms</div>
					<div class="item" value="Bedrooms">3 Bedrooms</div>
					<div class="item" value="Bedrooms">4 Bedrooms</div>
					<div class="item" value="Bedrooms">5 Bedrooms</div>
					<div class="item" value="Bedrooms">6 Bedrooms</div>
					<div class="item" value="Bedrooms">7 Bedrooms</div>
					<div class="item" value="Bedrooms">8 Bedrooms</div>
					<div class="item" value="Bedrooms">9 Bedrooms</div>
					<div class="item" value="Bedrooms">10 Bedrooms</div>
				</div>
			</div>
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Eco Friendly</span>
				<div class="menu">
					<% additional_tags = add_edit_get_tag_types_for_category("Eco Friendly") %>
					<% if additional_tags %>
						<% # Create a menu item for each tag_type %>
						<% additional_tags.each do |tag| %>
							<div class="item" value="<%= tag.tag_type_category%>" data-value"<%= tag.tag_type_label %>_<%= tag.tag_type_category %>"><%= tag.tag_type_label %></div>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Heating Cooling</span>
				<div class="menu">
					<% additional_tags = add_edit_get_tag_types_for_category("Heating Cooling") %>
					<% if additional_tags %>
						<% # Create a menu item for each tag_type %>
						<% additional_tags.each do |tag| %>
							<div class="item" value="<%= tag.tag_type_category%>" data-value"<%= tag.tag_type_label %>_<%= tag.tag_type_category %>"><%= tag.tag_type_label %></div>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">House Type</span>
				<div class="menu">
					<div value="House Type" class="item">Apartment</div>
					<div value="House Type" class="item">House</div>
					<div value="House Type" class="item">Land</div>
				</div>
			</div>
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Leisure</span>
				<div class="menu">
					<% additional_tags = add_edit_get_tag_types_for_category("Leisure") %>
					<% if additional_tags %>
						<% # Create a menu item for each tag_type %>
						<% additional_tags.each do |tag| %>
							<div class="item" value="<%= tag.tag_type_category%>" data-value"<%= tag.tag_type_label %>_<%= tag.tag_type_category %>"><%= tag.tag_type_label %></div>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Outdoor Features</span>
				<div class="menu">
					<% additional_tags = add_edit_get_tag_types_for_category("Outdoor Features") %>
					<% if additional_tags %>
						<% # Create a menu item for each tag_type %>
						<% additional_tags.each do |tag| %>
							<div class="item" value="<%= tag.tag_type_category%>" data-value"<%= tag.tag_type_label %>_<%= tag.tag_type_category %>"><%= tag.tag_type_label %></div>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Parking</span>
				<div class="menu">
					<div class="item" value="Parking">1 Parking Bay</div>
					<div class="item" value="Parking">2 Parking Bays</div>
					<div class="item" value="Parking">3 Parking Bays</div>
					<div class="item" value="Parking">4 Parking Bays</div>
					<div class="item" value="Parking">5 Parking Bays</div>
					<div class="item" value="Parking">6 Parking Bays</div>
					<div class="item" value="Parking">7 Parking Bays</div>
					<div class="item" value="Parking">8 Parking Bays</div>
					<div class="item" value="Parking">9 Parking Bays</div>
					<div class="item" value="Parking">10 Parking Bays</div>
				</div>
			</div>
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Price</span>
				<div class="menu">
					<div class="item" value="Price">$100,000</div>
					<div class="item" value="Price">$200,000</div>
					<div class="item" value="Price">$300,000</div>
					<div class="item" value="Price">$400,000</div>
					<div class="item" value="Price">$500,000</div>
					<div class="item" value="Price">$600,000</div>
					<div class="item" value="Price">$700,000</div>
					<div class="item" value="Price">$800,000</div>
					<div class="item" value="Price">$900,000</div>
					<div class="item" value="Price">$1,000,000</div>
				</div>
			</div>
		</div>
	</div>
</div>