<%
#   Created: Michael White
#   Date: 13/05/2016
#   
#   Criteria Partial from /buy
#
%>
<div class="criteria-tag-field">
	<div class="ui selection multiple dropdown" id="tag_dropdown">
	</div>
</div>
<div class="criteria-selection">
	<div class="big ui dropdown right labeled icon button" id="criteria_dropdown">
		<span class="text" id="button-name">Add Search Criteria</span>
		<i class="right add icon"></i>
		<i class="dropdown icon"></i>
		<div class="menu">
			<%# Appliances Category %>
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Appliances</span>
				<div class="menu appliances">
					<% additional_tags = add_edit_get_tag_types_for_category("Appliances") %>
					<% if additional_tags %>
						<% # Create a menu item for each tag_type %>
						<% additional_tags.each do |tag| %>
							<div class="item" value="<%= tag.tag_type_category%>" data-value"<%= tag.tag_type_label %>_<%= tag.tag_type_category %>"><%= tag.tag_type_label %></div>
						<% end %>
					<% end %>
				</div>
			</div>

			<%# Bathroom Category %>
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Bathrooms</span>
				<div class="menu bathrooms">
					<%# Loop through and create a menu item for this category, using the Rails content_tag and the category value %>
					<% (1..10).each do |n| %>
						<% if n == 1 %>
							<%= content_tag(:div, "#{n} Bathroom", { class: "item", value: "Bathrooms" }) %>
						<% else %>
							<%= content_tag(:div, "#{n} Bathrooms", { class: "item", value: "Bathrooms" }) %>
						<% end %>
					<% end %>
				</div>
			</div>
			
			<%# Bedrooms Category %>
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Bedrooms</span>
				<div class="menu bedrooms">
					<%# Loop through and create a menu item for this category, using the Rails content_tag and the category value %>
					<% (1..10).each do |n| %>
						<% if n == 1 %>
							<%= content_tag(:div, "#{n} Bedroom", { class: "item", value: "Bedrooms" }) %>
						<% else %>
							<%= content_tag(:div, "#{n} Bedrooms", { class: "item", value: "Bedrooms" }) %>
						<% end %>
					<% end %>
				</div>
			</div>
			
			<%# Eco Friendly Category %>
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Eco Friendly</span>
				<div class="menu ecof">
					<% additional_tags = add_edit_get_tag_types_for_category("Eco Friendly") %>
					<% if additional_tags %>
						<% # Create a menu item for each tag_type %>
						<% additional_tags.each do |tag| %>
							<div class="item" value="<%= tag.tag_type_category%>" data-value"<%= tag.tag_type_label %>_<%= tag.tag_type_category %>"><%= tag.tag_type_label %></div>
						<% end %>
					<% end %>
				</div>
			</div>

			<%# Heating and Cooling Category %>
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Heating Cooling</span>
				<div class="menu heatingcooling">
					<% additional_tags = add_edit_get_tag_types_for_category("Heating Cooling") %>
					<% if additional_tags %>
						<% # Create a menu item for each tag_type %>
						<% additional_tags.each do |tag| %>
							<div class="item" value="<%= tag.tag_type_category%>" data-value"<%= tag.tag_type_label %>_<%= tag.tag_type_category %>"><%= tag.tag_type_label %></div>
						<% end %>
					<% end %>
				</div>
			</div>

			<%# House Type Category %>
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">House Type</span>
				<div class="menu housetype">
					<div value="House Type" class="item">Apartment</div>
					<div value="House Type" class="item">House</div>
					<div value="House Type" class="item">Land</div>
				</div>
			</div>
			
			<%# Indoor Features Category %>
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Indoor Features</span>
				<div class="menu indoorfeatures">
					<% additional_tags = add_edit_get_tag_types_for_category("Indoor Features") %>
					<% if additional_tags %>
						<% # Create a menu item for each tag_type %>
						<% additional_tags.each do |tag| %>
							<div class="item" value="<%= tag.tag_type_category%>" data-value"<%= tag.tag_type_label %>_<%= tag.tag_type_category %>"><%= tag.tag_type_label %></div>
						<% end %>
					<% end %>
				</div>
			</div>
	
			<%# Leisure Category %>
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Leisure</span>
				<div class="menu leisure">
					<% additional_tags = add_edit_get_tag_types_for_category("Leisure") %>
					<% if additional_tags %>
						<% # Create a menu item for each tag_type %>
						<% additional_tags.each do |tag| %>
							<div class="item" value="<%= tag.tag_type_category%>" data-value"<%= tag.tag_type_label %>_<%= tag.tag_type_category %>"><%= tag.tag_type_label %></div>
						<% end %>
					<% end %>
				</div>
			</div>

			<%# Outdoor Features Category %>
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Outdoor Features</span>
				<div class="menu outdoorfeatures">
					<% additional_tags = add_edit_get_tag_types_for_category("Outdoor Features") %>
					<% if additional_tags %>
						<% # Create a menu item for each tag_type %>
						<% additional_tags.each do |tag| %>
							<div class="item" value="<%= tag.tag_type_category%>" data-value"<%= tag.tag_type_label %>_<%= tag.tag_type_category %>"><%= tag.tag_type_label %></div>
						<% end %>
					<% end %>
				</div>
			</div>

			<%# Parking Category %>
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Parking</span>
				<div class="menu parking">
					<%# Loop through and create a menu item for this category, using the Rails content_tag and the category value %>
					<% (1..10).each do |n| %>
						<% if n == 1 %>
							<%= content_tag(:div, "#{n} Parking Bay", { class: "item", value: "Parking" }) %>
						<% else %>
							<%= content_tag(:div, "#{n} Parking Bays", { class: "item", value: "Parking" }) %>
						<% end %>
					<% end %>
				</div>
			</div>

			<%# Price Category %>
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Price</span>
				<div class="menu price">
					<%# Loop through and create a menu item for this category, using the Rails content_tag and the category value %>
					<% (1..10).each do |n| %>
						<%= content_tag(:div, number_to_currency(n * 100000, precision: 0), { class: "item", value: "Price" }) %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>