<div class="ui center aligned container">
	<!-- Section Header -->
	<h2 class="ui header"><i class="star icon"></i>Your Favourites</h2>
	<!-- Slick Carousel -->
	<div class="favouritesSlide" data-slick='{"slidesToShow": 4, "slidesToScroll": 1}'>
		<div>
			<%= link_to image_tag("favProp.png", alt:"Favourite Image"), "http://placekitten.com/1600/1300" %>
		</div>
		<div>
			<%= link_to image_tag("favProp.png", alt:"Favourite Image"), "http://placekitten.com/1200/700" %>
		</div>
		<div>
			<%= link_to image_tag("favProp.png", alt:"Favourite Image"), "http://placekitten.com/1600/1300" %>
		</div>
		<div>
			<%= link_to image_tag("favProp.png", alt:"Favourite Image"), "http://placekitten.com/1200/700" %>
		</div>
		<div>
			<%= link_to image_tag("favProp.png", alt:"Favourite Image"), "http://placekitten.com/1600/1300" %>
		</div>
		<div>
			<%= link_to image_tag("favProp.png", alt:"Favourite Image"), "http://placekitten.com/1200/700" %>
		</div>
		<div>
			<%= link_to image_tag("favProp.png", alt:"Favourite Image"), "http://placekitten.com/1600/1300" %>
		</div>
	</div>
</div>
