<div class="ui center aligned container">
	<!-- Section Header -->
	<h2 class="ui header"><i class="star icon"></i>Your Favourites</h2>
	<!-- Slick Carousel -->
	<div class="favouritesSlide" data-slick='{"slidesToShow": 4, "slidesToScroll": 1}'>
		<div>
			<%= link_to image_tag("favProp.png", alt:"Favourite Image"), buy_path %>
		</div>
		<div>
			<%= link_to image_tag("favProp.png", alt:"Favourite Image"), buy_path %>
		</div>
		<div>
			<%= link_to image_tag("favProp.png", alt:"Favourite Image"), buy_path %>
		</div>
		<div>
			<%= link_to image_tag("favProp", alt:"Favourite Image"), buy_path %>
		</div>
		<div>
			<%= link_to image_tag("favProp", alt:"Favourite Image"), buy_path %>
		</div>
		<div>
			<%= link_to image_tag("favProp.png", alt:"Favourite Image"), buy_path %>
		</div>
		<div>
			<%= link_to image_tag("favProp.png", alt:"Favourite Image"), buy_path %>
		</div>
	</div>
</div>
