<%
#   Created: Jayden Spencer
#   Date: 04/04/2016
#   
#   Featured Property List Partial from /buy
#
#	TODO:
#		* Insert Featured Properties
#
 %>
<div class="feature-property-container">
	<h2 class="ui header">Featured Properties</h2>

	<% if controller_name == "buy" %>
		<% result = load_current_featured_property()%>
		<% if result %>
			<% result.each do |object| %>
				<div class="main-divs ui grid">
					<section class="picture-div eight wide column">
						<%= image_tag object.listing_cover_image.image.url(:large_w)%>

					</section>
						<section class="eight wide column">
						<div class="top">
							<h3> <%= object.listing_address + " " + object.listing_suburb + " " + object.listing_state + " " + object.listing_post_code.to_s%> </h3>
							<p class="truncate"><%= object.listing_description %></p>
						</div>
						<div class="bottom">
							<div>
								<div class="ui bed icon left">
								<p class=""><%= object.listing_bedrooms.to_s %>
								<i class="bed icon"></i>
								</div>
							</div>
							<div>
								<div class="ui left">
								<p class=""><%= object.listing_bathrooms.to_s %>
								<i class="shower"><%= image_tag "icon_shower_dark_small.png", alt: "shower icon" %></i>
								</div>
							</div>
							<div>
								<div class="ui bed icon left">
								<p class=""><%= object.listing_parking.to_s %>
								<i class="car icon"></i>
								</div>
							</div>
						</div>
					</section>
				</div>
			<% end %>
		<% else %>
			<p>Something went wrong</p>
		<% end %>
	<% end %>
</div>