<%
#   Created: Jayden Spencer
#   Date: 04/04/2016
#   
#   Twitter feed
#
#	TODO:
#		* Insert twitter feed
#
 %>
<h2 class="ui header"><i class="icon twitter"></i>Latest Tweets</h2>
<% # To enable the cache to work, in 'config/environments/development.rb', "config.action_controller.perform_caching = false" must be set to 'true' %>
<% cache('our_public_tweets', expires_in: 1.hours) do %>
	<% TwitterApi.our_public_tweets.each do |tweet| %>
		<div class="ui items">
			<div class="item">
				<div class="image" id="tweetImage">
					<img src="<%= tweet.user.profile_image_url %>">
				</div>
				<div class="content">
					<a href="<%= tweet.user.url %>" target="_blank" class="header"><%= tweet.user.name %></a>
					<div class="meta">
						<span><%= parsed_tweet tweet %></span>
					</div>
					<div class="extra">
						<%= convert_twitter_date tweet.created_at %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
<% end %>