<%
#   Created: Jayden Spencer
#   Date: 04/04/2016
#   
#   The main index/buy page
#   
#   Partials:
#   	* buy/search: this is the search header/banner
#   	* buy/favourites: favourites carousel
#   	* buy/stats: daily/weekly/monthly stats based on the website
#   	* buy/featuredproperylist featured properties for sale
#   	* buy/twitter twitter feed from @propertyDome
#
#	TODO:
#		* Insert twitter feed
#		* Fill featured properties section
#		* Insert icons for appropraite headers
#		* Insert actual search criteria dropdown
#		* Selection from additional search criteria goes to main search input field
 %>
<div class="search-section">
	<div class="ui center aligned container">
		<h1 class="ui inverted header">LOOKING TO BUY A HOME?</h1>
		<%= render "buy/search" %>
		<% #search criteria dropdown button %>
		<button class="big ui right labeled icon button">
			<i class="right add icon"></i>
			Add Search Criteria
		</button>
	</div>
</div>
<% #render favourites section when logged in %>
<% if user_signed_in? %>
	<section class="favourites-section">
		<%= render partial: "buy/favourites" %>
	</section>
	<% else %>
	<% #render stats when logged out %>
	<section class="stats-section">
		<%= render partial: "buy/stats" %>
	</section>
<% end %>
<div class="ui one wide center aligned grid">
	<% #triangle under favourites/stats section %>
	<div class="lead-in ui one wide column triangle-lead"></div>
</div>
<section class="ui ten wide center aligned grid row">
	<% #Featured section %>
	<div class="ui six wide left aligned column feature-list">
		<%= render partial: "buy/featurepropertylist" %>
	</div>
	<% #Twitter section %>
	<div class="ui four wide left aligned column twitter-feed">
		<%= render partial: "buy/twitter" %>
	</div>
</section>
