<%
#   Created: Jayden Spencer
#   Date: 04/04/2016
#   
#   The main index/buy page
#   
#   Partials:
#   	* buy/search: this is the search header/banner
#   	* buy/criteria: the add criteria button
#   	* buy/criteria_mobile: the add criteria button for mobiles
#   	* buy/favourites: favourites carousel
#   	* buy/stats: daily/weekly/monthly stats based on the website
#   	* buy/featuredproperylist featured properties for sale
#   	* buy/twitter twitter feed from @propertyDome
#
 %>
 <% title "Propertydome" %>
<div class="search-section">
	<div class="ui center aligned container">
		<h1 class="ui inverted header">LOOKING TO BUY A HOME?</h1>
		<%= render "buy/search" %>

		<% # The criteria selection button (inside a grid to allow for mobile responsive classes) %>
		<div class="ui centered grid">
			<% # The criteria tag field the selected tags go into %>
			<div class="criteria-tag-field">
				<div class="ui selection multiple dropdown" id="tag_dropdown"></div>
			</div>

			<% # The criteria options menu partial for computers only %>
			<div class="ui computer only tablet only row">
				<%= render partial: "buy/criteria" %>
			</div>
			<% # The criteria options menu partial for mobiles and tablets only %>
			<div class="ui mobile only row">
				<%= render partial: "buy/criteria_mobile" %>
			</div>	
		</div>
	</div>
</div>
<% #render favourites section when logged in %>
<% if user_signed_in? %>
	<section class="favourites-section">
		<%= render partial: "buy/favourites" %>
	</section>
	<% else %>
	<% #render stats when logged out %>
	<section class="stats-section">
		<%= render partial: "buy/stats" %>
	</section>
<% end %>
<div class="ui one wide center aligned grid container">
	<% #triangle under favourites/stats section %>
	<div class="lead-in ui one wide column triangle-lead"></div>
</div>
<section class="ui ten wide center aligned stackable grid row">
	<% #Featured section %>
	<div class="ui six wide computer six wide tablet sixteen wide mobile left aligned column feature-list">
		<%= render partial: "buy/featurepropertylist" %>
	</div>
	<% #Twitter section %>
	<div class="ui four wide computer four wide tablet sixteen wide mobile left aligned column twitter-feed">
		<%= render partial: "buy/twitter" %>
	</div>
</section>
<% # Render the to top button with the blank colour_class local to keep it green %>
<%= render partial: "layouts/to_top_button", locals: { colour_class: ""} %>
