<% 
#   Date: 27/04/2016
#
#   Developed By: Michael White, 01/06/2016
#
#   Partial to display the Activity Feed for the user
%>
<h1 class="ui center aligned">Activity Feed</h1>
<div class="ui feed">
	<% feedFavourites = get_favourites_object_array %>
	<% if feedFavourites %>
		<% feedFavourites.each do |item| %>
			<% listing = item.favourite_listing %>
			<% status_object = listing_get_status_object(listing) %>
			<% if listing_get_status_readable(listing) != "Click here to set a status" %>
				<div class="event">
					<div class="label">
						<% user_id = listing.listing_user_id %>
						<% user = get_listing_owner(user_id) %>
						<%= image_tag user.avatar.url(:thumb), alt: "User Profile Image", class: "ui avatar image" %>
					</div>
					<div class="content">
						<div class="summary">
							<a class="user" href="<%= property_path("#{listing.listing_address.parameterize}-#{listing.listing_suburb.parameterize}-#{get_state_short(listing.listing_state).parameterize}-#{listing.listing_post_code}-#{listing.listing_id}") %>"><%= listing.listing_address %></a>
							<%= status_object.listing_status_label %>
							<div class="date">
								<%= get_time_ago(status_object.updated_at) %>
							</div>
						</div>
						<div class="extra text">
							<% if status_object.listing_status_label == "Home Open" %>
								This property has a home open on <%= convert_status_date(status_object.listing_status_date) %> starting at <%= get_start_time(listing) %> and finishing at <%= get_end_time(listing) %>.
							<% elsif status_object.listing_status_label == "Sold" %>
								This property was sold on <%= convert_status_date(status_object.updated_at) %>.
							<% elsif status_object.listing_status_label == "Auction" %>
								This property has an auction on <%= convert_status_date(status_object.listing_status_date) %> starting at <%= get_start_time(listing) %>.
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>