<% if @prev_loc.length != 0  %>
	<div id="header-nav-links">
		<%# Back Link %>
		<%= link_to url_for("javascript:history.back()"), id:"back-search-link" do %>
			<%= puts "-------perv_loc" %>
			<%= puts @prev_loc %>
			<% case @prev_loc
				when /search/ %>
					< back to search results
				<% when /buy/ %>
					< back to homepage
				<%# Match a url like /sell/100 which is where a user sees all the users listings %>
				<% when /sell\/\d*$/ %>
					< back to user property list
				<%# Match a url that is like /sell which is the manage listing page %>
				<% when /sell/ %>
					< back to manage properties
				<% when /dashboard/ %>
					< back to your dashboard
				<% else %>
					< back to previous property
			<% end %>
		<% end %>
		<%# Prev/Next Tags %>
		<span id="next-prev-links">
			<%= link_to "< previous", buy_path %>
			<%= link_to "next >", buy_path %>
		</span>
	</div>
<% end %>
