<div class="ui fluid image">
	<%# Favourite Star %>
	<a class="ui left corner label fav-property"><i class="star icon"></i></a>
	<%# Status %>
	<a class="ui red right ribbon label status-ribbon">inspection time 4:20am to 4:21am</a>
	<%# Property Images %>
	<div class="propertySlide" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
		<div>
			<%= link_to image_tag("propertyImage.png", alt:"Property Image"), "http://placekitten.com/1600/1300" %>
		</div>
		<div>
			<%= link_to image_tag("propertyImage.png", alt:"Property Image"), "http://placekitten.com/1200/700" %>
		</div>
		<div>
			<%= link_to image_tag("propertyImage.png", alt:"Property Image"), "http://placekitten.com/1600/1300" %>
		</div>
		<div>
			<%= link_to image_tag("propertyImage.png", alt:"Property Image"), "http://placekitten.com/1200/700" %>
		</div>
		<div>
			<%= link_to image_tag("propertyImage.png", alt:"Property Image"), "http://placekitten.com/1600/1300" %>
		</div>
		<div>
			<%= link_to image_tag("propertyImage.png", alt:"Property Image"), "http://placekitten.com/1200/700" %>
		</div>
		<div>
			<%= link_to image_tag("propertyImage.png", alt:"Property Image"), "http://placekitten.com/1600/1300" %>
		</div>
	</div>
</div>