<%# USER image/link %>
<ul id="realestateDetails">
	<li>
		<%# Link to the users list or properties %>
		<%= link_to sell_path(@listing.listing_user_id) do %>
			<%= image_tag @listing.listing_user.avatar.url(:medium), alt: "User Profile Image", class: "ui small circular image" %>
			<%# Username %>
			<% if @listing.listing_user.username.length != 0 %>
					<span><%= truncate(@listing.listing_user.username, length: 18) %></span>
			<%# First name & Surname %>
			<% elsif @listing.listing_user.first_name.length != 0 and @listing.listing_user.last_name.length != 0 %>
					<span><%= truncate(@listing.listing_user.first_name + " " + @listing.listing_user.last_name, length: 18) %></span>
			<%# E-mail %>
			<% else %>
				<span><%= truncate(@listing.listing_user.email, length: 18) %></span>
			<% end %>
		<% end %>
	</li>
	<li>
		<%# User Company %>
		<% if @listing.listing_user.company_name %>
			<span><%= @listing.listing_user.company_name %></span>
		<% end %>
	</li>
	<li>
		<%# User Phone %>
		<% if @listing.listing_user.contact_phone %>
			<%= button_to @listing.listing_user.contact_phone, url_for("callto://#{@listing.listing_user.contact_phone}"), class:"ui inverted green button" %>
		<% end %>
	</li>
	<li>
		<%# User Email %>
		<%= button_to @listing.listing_user.email, url_for("mailto:#{@listing.listing_user.email}?Subject=#{@listing.listing_address}&body="), class:"ui inverted green button" %>
	</li>
</ul>
