<div class="ui fluid image">
	<%# Favourite Star %>

	<% if controller_name == "property" %>
		<%# If we have a current user, then use the check_if_listing_favourited_by_user Application
		helper function to check if that listing is favd already and if so lets set the button as favd
		from the get go %>
		
		<% if current_user %>
			<% if check_if_listing_favourited_by_user(@listing.listing_id, current_user.id) %>
				<a class="ui left corner label fav-property" data-id="<%= @listing.listing_id %>"><i class="star icon favd"></i></a>
			<% else %>
				<a class="ui left corner label fav-property" data-id="<%= @listing.listing_id %>"><i class="star icon"></i></a>
			<% end %>

			<%# The user isn't logged in, so we're not putting the listing id in the data-id value
			so the AJAX doesn't run and an alert is sent (current temporary solution) %>
		<% else %>
			<a class="ui left corner label fav-property" data-id=""><i class="star icon"></i></a>
		<% end %>
	<% end %>

	<%# Status "click here to set a status" means if it doesnt have a stus dont have ribbon %>
	<% if listing_get_status_readable(@listing) != "Click here to set a status" %>
		<a class="ui red right ribbon label status-ribbon"><%= listing_get_status_readable(@listing) %></a>
	<% end %>
	<%# Property Images %>
	<div class="propertySlide" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
		<div>
			<% if @listing.listing_cover_image %>
				<%# Get the cover image if it exists %>
				<%= link_to image_tag(@listing.listing_cover_image.image.url(:large_w), alt:"Property Image"), "http://placekitten.com/1600/1300" %>
			<% else %>
				<%# Placeholder image incase there's no main image  %>
				<%= image_tag "placeholder_w.png", alt: "Property Image" %>
			<% end %>
		</div>
		<div>
			<%= link_to image_tag("propertyImage.png", alt:"Property Image"), "http://placekitten.com/1200/700" %>
		</div>
		<div>
			<%= link_to image_tag("propertyImage.png", alt:"Property Image"), "http://placekitten.com/1600/1300" %>
		</div>
		<div>
			<%= link_to image_tag("propertyImage.png", alt:"Property Image"), "http://placekitten.com/1200/700" %>
		</div>
		<div>
			<%= link_to image_tag("propertyImage.png", alt:"Property Image"), "http://placekitten.com/1600/1300" %>
		</div>
		<div>
			<%= link_to image_tag("propertyImage.png", alt:"Property Image"), "http://placekitten.com/1200/700" %>
		</div>
		<div>
			<%= link_to image_tag("propertyImage.png", alt:"Property Image"), "http://placekitten.com/1600/1300" %>
		</div>
	</div>
</div>
