<%# USER image/link %>
<ul id="realestateDetails">
	<li>
		<%# Link to the users list or properties %>
		<%= link_to sell_path(@listing.listing_user_id) do %>
			<%= image_tag @listing.listing_user.avatar.url(:medium), alt: "User Profile Image", class: "ui small circular image" %>
			<%# Username %>
			<% if @listing.listing_user.username.length != 0 %>
					<span><%= @listing.listing_user.username %></span>
			<%# First name & Surname %>
			<% elsif @listing.listing_user.first_name.length != 0 and @listing.listing_user.last_name.length != 0 %>
					<span><%= @listing.listing_user.first_name %> <%= @listing.listing_user.last_name %></span>
			<%# E-mail %>
			<% else %>
				<span><%= @listing.listing_user.email %></span>
			<% end %>
		<% end %>
	</li>
	<li>
		<%# User Company %>
		<span>Realestate Company Name</span>
	</li>
	<li>
		<%# User Phone %>
		<%= button_to "04 123 456 78", url_for("callto://0412345678"), class:"ui inverted green button" %>
	</li>
	<li>
		<%# User Email %>
		<%= button_to @listing.listing_user.email, url_for("mailto:#{@listing.listing_user.email}?Subject=#{@listing.listing_address}&body="), class:"ui inverted green button" %>
	</li>
</ul>