<%
#   Created: Jayden Spencer
#   Date: 27/04/2016
#   
#   The property page for the site.
#   
#   Partials:
#   	- Property Navigation, handles going back wherever you came from and going to another property
#   	- Property Header Image, handles the slick carousel, slick lightbox, favourites top left button and status ribbon on top right
#       - Property Details, handles address, prices, tags, description, property details
#   TODO:
# 		- Insert Map
# 		- Insert comments section
#       - Insert featured properties
# 		- Make page mobile friendly
# 		- Put in actual data
 %>
<section class="property-container nobanner-container ui center aligned container">
	<div class="ui sixteen wide center aligned grid">
		<%= render partial:"property/propertyNav" %>
		<%# Partial for image header with favourite prop, status and slick carousel and lightbox %>
		<%= render partial:"property/propertyHeaderImage" %>
	</div>
	<section class="ui sixteen wide center aligned grid row property-details-section">
		<%# Property Info section %>
		<div class="ui twelve wide left aligned column property-information">
			<%# Partial for property details desktop-leftColumn %>
			<%= render partial:"property/propertyDetails" %>
		</div>
		<%# User and Realestate section %>
		<div class="ui four wide center aligned column realestate-section">
			<%# Partial for realestate info desktop-rightColumn %>
			<%= render partial:"property/propertyRealestate" %>
		</div>
	</section>
	<div class="ui fluid center aligned container map-section">
		<%= render partial:"map/map" %>
	</div>
</section>

	<%# Insert map section here %>
	<%# Insert comments section here %>
	<%# Insert featured property section here %>