<%
#   Created: Jayden Spencer
#   Date: 27/04/2016
#   
#   The property page for the site.
#   
#   Partials:
#   	- Property Navigation, handles going back wherever you came from and going to another property
#   	- Property Header Image, handles the slick carousel, slick lightbox, favourites top left button and status ribbon on top right
#       - Property Details, handles address, prices, tags, description, property details
#   TODO:
# 		- Map actually works with location
# 		- Make the map styled to suit page and has dropdown and that sorta thing
# 		- Insert comments section
#       - Insert featured properties
# 		- Make page mobile friendly
# 		- Favourites toggle, works with listing and is styled nicely
# 		- back to #location and next/previous buttons are styled
# 		- next/previous buttons work
# 		- description is styled and if length has a dropdown/expand area
# 		- call/email buttons work
# 		- realestate company data is filled
# 		- carousel images are filled and the number changed based on count (for the dots)
# 		- carousel lightbox works
 %>
<% title "Propertydome #{@listing.listing_address}, #{@listing.listing_suburb}" %>
<section class="property-container nobanner-container ui center aligned container">
	<div class="ui sixteen wide center aligned grid">
		<%= render partial:"property/propertyNav" %>
		<%# Partial for image header with favourite prop, status and slick carousel and lightbox %>
		<%= render partial:"property/propertyHeaderImage" %>
	</div>
	<section class="ui sixteen wide center aligned grid row stackable property-details-section">
		<%# Property Info section %>
		<div class="ui twelve wide left aligned column property-information">
			<%# Partial for property details desktop-leftColumn %>
			<%= render partial:"property/propertyDetails" %>
		</div>
		<%# User and Realestate section %>
		<div class="ui four wide center aligned column realestate-section">
			<%# Partial for realestate info desktop-rightColumn %>
			<%= render partial:"property/propertyRealestate" %>
		</div>
	</section>
	<div class="ui fluid center aligned container map-section">
		<%= render partial:"map/map" %>
	</div>
</section>

	<%# Insert map section here %>
	<%# Insert comments section here %>
	<%# Insert featured property section here %>

<% # Render the to top button with the blank colour_class local to keep it green %>
<%= render partial: "layouts/to_top_button", locals: { colour_class: ""} %>
