<% @listings.each do |listing| %>
	<div class="ui card property-card">
		<div class="content">
			<h3 class="ui header">
				<%# address %>
				<%= link_to "#{listing.listing_address}", url_for("#{listing.listing_address}"), class: "title-link" %>
				<div class="property-info">
				<%# num of bedrooms %>
				<i class="large bed icon"></i> <span><%= listing.listing_bedrooms %></span>
				<%# num of bathrooms %>
				<i class="large bed icon"></i> <span><%= listing.listing_bathrooms %></span>
				<%# num of carspaces %>
				<i class="large car icon"></i> <span><%= listing.listing_parking %></span>
			</div>
			</h3>
		</div>
		<div class="ui fluid image">
			<%# is favorited, if so add class to i favd %>
			<a class="ui left corner label fav-property"><i class="star icon"></i></a>
			<%# status of property, might be handy for this to include a link to property page %>
			<a class="ui red right ribbon label"><%= listing.listing_status %></a>
			<%# img its also a link needs to be changed to url for actual link of property object %>
			<%= link_to url_for("#{listing.listing_address}") do %>
				<%= image_tag "propertyimagetemp.png", alt: "Property Image" %>
			<% end %>
		</div>
		<div class="content">
			<h2>
				<%# price %>
				<% if listing.listing_price_type == "F" %>
					<%= number_to_currency(listing.listing_price_min, {
						precision: 0 }) %>
				<% else %>
					<%= number_to_currency(listing.listing_price_min, {
						precision: 0 }) %> - <%= number_to_currency(listing.listing_price_max, { precision: 0, unit: "" }) %>
				<% end %>
				<span class="right floated property-info-stats">
					<span>
						<%# num of favourites on property %>
						<i class="star icon"></i> <%= listing.listing_favourites %> favourites
					</span>
					<span>
						<%# num of comments on property %>
						<i class="comment icon"></i> <%= listing.listing_comments %> comments
					</span>
				</span>
			</h3>
		</div>
		<div class="extra content tag-field">
			<div class="ui large transparent left">
				<%# tags:
					sell-feature-tag is purple
					location-feature-tag & property-feature-tag is blue
				 	price-feature-tag is red %>
				<div class="ui sell-feature-tag label">Home Theatre</div>
				<div class="ui sell-feature-tag label">NBN</div>
				<div class="ui sell-feature-tag label">Pool</div>
				<div class="ui sell-feature-tag label">Front Garden</div>
				<div class="ui sell-feature-tag label">Back Garden</div>
				<div class="ui location-feature-tag label">1.3km from your Work</div>
				<div class="ui property-feature-tag label">5.1km from Schools</div>
				<div class="ui location-feature-tag label">2.3km from Shopping Centre</div>
			</div>
		</div>
		<div class="extra content">
			<div class="ui large transparent right">
				<div class="ui three column very relaxed grid">
					<div class="column">
						<%# time since posted only hours, then only days %>
						<div class="left floated meta">
							<% if listing.listing_created_at > Time.now.beginning_of_day %>
								<%# 1 hour ago, less than a minute ago %>
								<%= "#{time_ago_in_words(listing.listing_created_at)} ago" %>
							<% else %>
								<%# date 07 May, 2016 %>
								<%= listing.listing_created_at.strftime("%b %d, %Y") %>
							<% end %>
						</div>
					</div>
					<%# USER image/link %>
					<%# profile path will need to change for profile/:id %>
					<div class="right floated middle aligned column user-column">
						<%= link_to url_for("#{listing.listing_user.username}")  do %>
							<%= image_tag "userprofile-header.png", alt: "User Profile Image", class: "ui avatar image" %>
							<span><%= listing.listing_user.username %></span>
						<% end %>
					</div>
					<%# COMPANY image/link %>
					<%# profile path will need to change for profile/:id %>
					<div class="right floated middle aligned column company-column">
						<%= link_to url_for("#{listing.listing_user.username}") do %>
							<%= image_tag "userprofile-header.png", alt: "User Profile Image", class: "ui tiny image" %>
							<span><%= listing.listing_user.username %></span>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>