<% 
#   Created: Jayden Spencer
#   
#   Render a single property listing result
#   
#   Note, this is also used in the add_edit_preview page to render a listing search result preview and therefore has some addition
#   	logic to handle having a listing object with nil values (which is what is there when a new listing is being created)
#   
#   Local collections:
#   	listing: this represents a listing object from the search result or add/edit listing view
%>

<% # Render a property result using the local variable 'listing' which represents a listing object from the @listings collection %>
<div class="ui fluid card property-card">
	<div class="content">
		<h3 class="ui header">
			<span class="house-type">
				<% if listing.listing_type == "House" %>
					<i class="home icon"></i>
				<% elsif listing.listing_type == "Apartment" %>
					<i class="building icon"></i>
				<% else %>
					<i class="marker icon"></i>
				<% end %>
			</span>

			<%# address %>
			<% # Logic added to only include url if the page is the search page as the add edit listing page shouldn't use a url %>
			<% # Also, added logic to support showing a preview on a new listing, which has a @listing object, but all fields are nil %>
			<% if listing.listing_address %>
				<%# We have a listing address so lets check the controller and if it's the search page or the show action from the sell controller, show a link, else just the address %>
				<% if controller_name == "search" %>
					<%= link_to property_path("#{listing.listing_address.parameterize}-#{listing.listing_suburb.parameterize}-#{get_state_short(listing.listing_state).parameterize}-#{listing.listing_post_code}-#{listing.listing_id}"), class: "title-link" do %>
						<%= "#{listing.listing_address}, #{listing.listing_suburb}, #{get_state_short(listing.listing_state)} #{listing.listing_post_code}" %>
					<% end %>
				<% elsif controller_name == "sell" and action_name == "show" %>
					<%= link_to property_path("#{listing.listing_address.parameterize}-#{listing.listing_suburb.parameterize}-#{get_state_short(listing.listing_state).parameterize}-#{listing.listing_post_code}-#{listing.listing_id}"), class: "title-link-sell" do %>
						<%= "#{listing.listing_address}, #{listing.listing_suburb}, #{get_state_short(listing.listing_state)} #{listing.listing_post_code}" %>
					<% end %>
				<% else %>
					<% # Just use the listing address as we're on the preview page and don't want it to be a link %>
					<%= "#{listing.listing_address}, #{listing.listing_suburb}, #{get_state_short(listing.listing_state)} #{listing.listing_post_code}" %>
				<% end %>
			<% else %>
				<% # Show some placeholder text for the listing address, I'm using an id'd span so I can live update this on the add/edit page %>
				<span id="search-preview-address">Listing Address</span>
			<% end %>
			<div class="property-info">
				<%# num of bedrooms (added span id for live preview on add/edit page). 
				Using a ternary to place either the actual value or a placeholder if we're viewing the preview and none exist.
				reminder, in ruby a ternary is (boolean expression ? value if true : value if false) %>
				<i class="large bed icon"></i> <span id="search-preview-bedrooms"><%= listing.listing_bedrooms ? listing.listing_bedrooms : 2 %></span>
				<%# num of bathrooms (added span id for live preview on add/edit page). 
				Using a ternary to place either the actual value or a placeholder if we're viewing the preview and none exist.
				reminder, in ruby a ternary is (boolean expression ? value if true : value if false) %>
				<i class="shower"><%= image_tag "icon_shower_dark_small.png", alt: "shower icon" %></i> <span id="search-preview-bathrooms"><%= listing.listing_bathrooms ? listing.listing_bathrooms : 2 %></span>
				<%# num of carspaces (added span id for live preview on add/edit page). 
				Using a ternary to place either the actual value or a placeholder if we're viewing the preview and none exist.
				reminder, in ruby a ternary is (boolean expression ? value if true : value if false) %>
				<i class="large car icon"></i> <span id="search-preview-parking"><%= listing.listing_parking ? listing.listing_parking : 2 %></span>
			</div>
		</h3>
	</div>
	<div class="ui fluid image">
		<%# is favorited, if so add class to i favd %>
		<% # only show this in the search controller sent you here %>
		<% if controller_name == "search" %>
			<%# If we have a current user, then use the check_if_listing_favourited_by_user Application
			helper function to check if that listing is favd already and if so lets set the button as favd
			from the get go %>
			<% if current_user %>
				<% if check_if_listing_favourited_by_user(listing.listing_id, current_user.id) %>
					<a class="ui left corner label fav-property" data-id="<%= listing.listing_id %>"><i class="star icon favd"></i></a>
				<% else %>
					<a class="ui left corner label fav-property" data-id="<%= listing.listing_id %>"><i class="star icon"></i></a>
				<% end %>

			<%# The user isn't logged in, so we're not putting the listing id in the data-id value
			so the AJAX doesn't run and an alert is sent (current temporary solution) %>
			<% else %>
				<a class="ui left corner label fav-property" data-id=""><i class="star icon"></i></a>
			<% end %>
		<% end %>

		<%
		# To handle a new listing action we need to check if the listing has any blank fields. As listing.listing_address is not able to be null 
		# this is a good field to use to check. If this exists, then we're either getting a search result or previewing an existing listing.
		# If it doesn't then we're adding a new listing and we need to act accordingly. 
		%>
		<% if listing.listing_address %>

			<%# status of property, might be handy for this to include a link to property page
			"click here to set a status" means if it doesnt have a stus dont have ribbon 
			Has to be below the image so it appears above it %>
			<% # only showing this if we have a listing with content (i.e. not a new listing) %>
			<% if listing_get_status_readable(listing) != "Click here to set a status" %>
				<a class="ui red right ribbon label status-ribbon"><%= listing_get_status_readable(listing) %></a>
			<% end %>

			<% # We have a listing with valid data so lets either make this image a link (search controller) or just show the image (all other controllers) %>
			<% if controller_name == "search" %>	
				<% # Got here via search, lets make this a link %>
				<%= link_to property_path("#{listing.listing_address.parameterize}-#{listing.listing_suburb.parameterize}-#{get_state_short(listing.listing_state).parameterize}-#{listing.listing_post_code}-#{listing.listing_id}") do %>
					<% if listing.listing_cover_image %>
						<%# Get the cover image if it exists %>
						<%= image_tag listing.listing_cover_image.image.url(:large_w), alt: "Property Image" %>
					<% else %>
						<%# Placeholder image incase there's no main image %>
						<%= image_tag "placeholder_w.png", alt: "Property Image" %>
					<% end %>
				<% end %>
			<% else %>
				<% # Just show the image without the url link as we're on the add/edit page and don't want it to link to a listing that may or may not exist %>
				<% if listing.listing_cover_image %>
					<%# Get the cover image if it exists %>
					<%= image_tag listing.listing_cover_image.image.url(:large_w), alt: "Property Image" %>
				<% else %>
					<%# Placeholder image incase there's no main image  %>
					<%= image_tag "placeholder_w.png", alt: "Property Image" %>
				<% end %>
			<% end %>
		<% else %>
			<% # Placeholder image for the search preview on a new listing action %>
			<%= image_tag "placeholder_w.png", alt: "Property Image", id: "search-preview-cover-image" %>
		<% end %>
	</div>

	<div class="content">
		<h2>
			<%# price %>
			<% if listing.listing_price_type == "F" %>
				<%# Placeholder for the add/edit new preview (added span id for live preview on add/edit page). 
				Using a ternary to place either the actual value or a placeholder if we're viewing the preview and none exist.
				reminder, in ruby a ternary is (boolean expression ? value if true : value if false) %>
				<span id="search-preview-fixed-price">
					<%= number_to_currency(listing.listing_price_min ? listing.listing_price_min : 450000, {	precision: 0 }) %>
				</span>
			<% else %>
				<%# Placeholder for the add/edit new preview (added span id for live preview on add/edit page). 
				Using a ternary to place either the actual value or a placeholder if we're viewing the preview and none exist.
				reminder, in ruby a ternary is (boolean expression ? value if true : value if false) %>
				<span id="search-preview-min-price">
					<%= number_to_currency(listing.listing_price_min ? listing.listing_price_min : 400000, {	precision: 0 }) %>
				</span> - 
				<span id="search-preview-max-price">
					<%= number_to_currency(listing.listing_price_max ? listing.listing_price_max : 450000, { precision: 0, unit: "" }) %>
				</span>
			<% end %>
		</h2>
		<%# USER image/link %>
		<%# profile path will need to change for profile/:id %>
		<%# If you got here via the search controller then show a link to the user, otherwise handle the preview without a link %>
		<div class="ui right floated right aligned user-column">
			<%# got here via search, so link to user %>
			<%# user image %>
			<% if controller_name == "search" %>
				<ul>
					<li><%= image_tag listing.listing_user.avatar.url(:medium), alt: "User Profile Image", class: "ui small circular image" %></li>
					<li>
						<%# Link to the sell#show page showing the user's active listings %>
						<%= link_to sell_path(listing.listing_user_id) do %>
							<%# Username %>
							<% if listing.listing_user.username.length != 0 %>
									<span><%= listing.listing_user.username %></span>
							<%# First name & Surname %>
							<% elsif listing.listing_user.first_name.length != 0 and listing.listing_user.last_name.length != 0 %>
									<span><%= listing.listing_user.first_name %> <%= listing.listing_user.last_name %></span>
							<%# E-mail %>
							<% else %>
								<span><%= listing.listing_user.email %></span>
							<% end %>
						<% end %>
					</li>
				</ul>
				<%# Didn't get here via search (i.e. add/edit preview) lets just use the current_user as the listing_user might not exist %>
				<% else %>
					<%= image_tag current_user.avatar.url(:medium), alt: "User Profile Image", class: "ui small circular image" %>
					<span>Username</span>
				<% end %>
		</div>
	</div>
	<div class="extra content tag-field">
		<div class="ui large transparent left">
			<%# tags:
				sell-feature-tag is purple
				location-feature-tag & property-feature-tag is blue
			 	price-feature-tag is red %>
			<div class="ui property-feature-tag label"><%= listing.listing_type %></div>
			<div class="ui property-feature-tag label"><%= listing.listing_land_size %> sqm</div>
			<%# Get the tag list in a readable format (this returns a 2d array, but we only need the first element) %>
			<% tags = add_edit_get_readable_tags_collection(listing.listing_tags) %>
			<% # A label for each tag in the list %>
			<% tags.each do |tag| %>
				<div class="ui sell-feature-tag label">
					<% # tag[0] = "Value Tag_Label", tag[1] = "value_tag-label_tag-category" %>
					<%= tag[0] %>
				</div>
			<% end %>
			<div class="ui location-feature-tag label">1.3km from your Work</div>
			<div class="ui location-feature-tag label">5.1km from Schools</div>
			<div class="ui location-feature-tag label">2.3km from Shopping Centre</div>
		</div>
	</div>
	<div class="extra content">
		<div class="ui large transparent right">	
			<%# time since posted only hours, then only days %>
			<span class="left floated meta">
				<% # Need to check if there is a listing data, otherwise display a placeholder for the add/edit new preview view %>
				<% if listing.listing_created_at %>
					<% if listing.listing_created_at > Time.now.beginning_of_day %>
						<%# 1 hour ago, less than a minute ago %>
						<%= "#{time_ago_in_words(listing.listing_created_at)} ago" %>
					<% else %>
						<%# date 07 May, 2016 %>
						<%= listing.listing_created_at.strftime("%d %b, %Y") %>
					<% end %>
				<% else %>
					<% # Placeholder for the add/edit new preview (added span id for live preview on add/edit page) %>
					<span id="search-preview-created-at">dd Mon, YYYY</span>
				<% end %>
			</span>
			<span class="right floated meta property-info-stats">
				<span>
					<%# num of favourites on property %>
					<% # Placeholder for the add/edit new preview (added span id for live preview on add/edit page) %>
					<i class="star icon"></i><span id="search-preview-favourites"><%= listing.listing_favourites %></span> 
					<% listing.listing_favourites.to_i == 1 %>
						favourite
					<% else %>
						favourites
					<% end %>
				</span>
				<span>
					<%# num of comments on property %>
					<% # Placeholder for the add/edit new preview (added span id for live preview on add/edit page) %>
					<i class="comment icon"></i><span id="search-preview-comments"><%= listing.listing_comments %></span> 
					<% listing.listing_comments.to_i == 1 %>
						comment
					<% else %>
						comments
					<% end %>
				</span>
			</span>
		</div>
	</div>
</div>
