<%#
#   Created: Jayden Spencer
#   Date: 27/04/2016
#   
#   The search page for the site.
#   
#   Partials:
#   	
#   TODO:
# => property listing has actual image content
# => nav side bar is fixed
# => nav side bar is works with recieved content
# => nav side bar label clear when clicked
 %>
<% title "Propertydome Search" %>
<section class="search-container nobanner-container ui container">
	<div class="ui sixteen wide grid stackable">
		<div class="ui rail four wide column" id="search-sticky">
			<% #search sub menu navigation %>
			<section class="ui sticky search-submenu">
				<div class="ui segment">
					<%= render partial:"search/searchconfig" %>
				</div>
			</section>
		</div>
		<%# search results content %>
		<div class="ui twelve wide column" id="search-feed">
			<div class="search-section suburb-search-section suburb-section-hide">
				<%= render "buy/search" %>
			</div>
			<%# search filter %>
			<div class="ui dropdown button search-filter">
				<span class="text">Recent</span>
				<i class="dropdown icon"></i>
				<div class="menu">
					<div class="item">
						<span class="text">Recent</span>
					</div>
					<div class="item">
						<span class="text">Cheapest</span>
					</div>
					<div class="item">
						<span class="text">Popular</span>
					</div>
				</div>
			</div>
			<%# result amount header %>
			<%# We need to check if @listings exists first now to check for no results %>
			<% if @listings %>
				<p class="ui dividing header search-divider">
					<% if !@no_query %>
						<% if @listings.total_count == 1 %>
							<%= "showing 1 exact result" %>
						<% else %>
							<%# If there's a query then show how many results (using the Kanimari method total_count as these are now paginated) %>
							<%= "showing #{@listings.total_count} exact results " %>
						<% end %>
					<% else %>
						<%# There's no query so the showing text should say different %>
						showing most recent listings as no query was entered
					<% end %>
				</p>
				<%# if results found display result partial otherwise display no results found! %>
				<% if @listings.length > 0 %>
					<% # Jayden, I've moved the loop here as I wasn't able to refer to your partial on my end as I don't have a @listings collection to pass to it %>
					<div class="search-results-container">
						<div id="search-results-table">
							<% @listings.each do |listing| %>
								<% # Render the search results partial using the local listing variable %>
								<%= render partial: "search/propertyresult", locals: { listing: listing } %>
							<% end %>
						</div>
						<% # The link to the next batch of search results. %>	
						<div class="ui centered grid margin-top" id="pagination-block">
							<p class="pagination">
								<%# Build the search query to be the correct format initially so we get infinite scrolling with our entered query %>
								<% query = build_search_pagination_link_text(@search_suburbs, @search_prices, @search_property, @search_feature) %>
								<% if query %>
									<%= link_to("Show More Search Results", "/search?#{query}page=#{@listings.current_page + 1}", remote: true, rel: 'next', class: "ui green button") %>
								<% end %>
							</p>
							<% # The loading animation partial. This default margin is 40px and is too much, I'm also setting display: none to hide this until the actual loading of the next page is called by the infinit-scroll plugin. %>
							<div id="loading-animation" style="display: none; margin-top: -40px;">
								<%= render partial: 'layouts/loading_no_text' %>
							</div>
						</div>
					</div>

					<%# Only show search broadening when there's a query, it's initially hidden though and will only appear when reached the end of the infinite scrolling, added loading icon to it as this section will disapear when the search broadening begins%>
					<% if !@no_query %>
						<div id="search-broadening-section" class="margin-top-half" style="display: none;">
							<p class="ui dividing header search-divider" id="search-broadening-caption">broadening search within the surrounding suburbs</p>
							<div id="loading-animation" style="margin-top: -30px;">
								<%= render partial: 'layouts/loading_no_text' %>
							</div>
						</div>
					<% end %>
				<% else %>
					<%# We have no initial results with that query so lets say that %>
					<h2 class="ui header" id="search-no-results-header">No Results Found!</h2>
					<%# However, if we have a search with @suburbs, then we can broaden our search. So lets put in an infinite scrolling table and pagination link
					to start the broadening search results functionality %>
					<% if @suburbs %>
						<div class="search-results-container">
							<div id="search-results-table">
							</div>
							<% # The link to the next batch of search results. %>	
							<div class="ui centered grid margin-top" id="pagination-block">
								<p class="pagination">
									<%# Build the search query to be the correct format initially so we get infinite scrolling with our entered query 
									(this likely won't trigger initially as it will be too far from the bottom of the page) %>
									<% query = build_search_pagination_link_text(@search_suburbs, @search_prices, @search_property, @search_feature) %>
									<% if query %>
										<%= link_to("Broaden search to include surrounding suburbs?", "/search?#{query}page=#{@listings.current_page + 1}", remote: true, rel: 'next', class: "ui green button") %>
									<% end %>
								</p>
								<% # The loading animation partial. This default margin is 40px and is too much, I'm also setting display: none to hide this until the actual loading of the next page is called by the infinit-scroll plugin. %>
								<div id="loading-animation" style="display: none; margin-top: -40px;">
									<%= render partial: 'layouts/loading_no_text' %>
								</div>
							</div>
						</div>
						<%# The broadening search section that is displayed when the user clicks the broaden search link %>
						<div id="search-broadening-section" class="margin-top-half" style="display: none;">
							<p class="ui dividing header search-divider" id="search-broadening-caption">broadening search within the surrounding suburbs</p>
							<div id="loading-animation" style="margin-top: -30px;">
								<%= render partial: 'layouts/loading_no_text' %>
							</div>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</section>
<% # Render the to top button with the blank colour_class local to keep it green %>
<%= render partial: "layouts/to_top_button", locals: { colour_class: ""} %>
