<%
#   Created: Daniel Swain
#   Date: 06/04/2016
#
#   Partial erb used by the manage page.
#
#   This represents a property that will be manigable by the user, it might be rendered multiple times
#
#   Collections
#   	@listings: The collection of listing objects from the database.
#   		Access properties using the database column names as listed in /app/models/listing.rb
#
#   Todo:
#   	* Style the Prompt/Dialog/Modal for the delete button
%>

<% # A property listing management card. %>
<% listings.each do |listing| %>
	<div class="ui fluid card manage-listing-card">
		<div class="content">
			<% # Corner label to tell if listing is approved, rejected or awaiting review %>
			<% if listing.listing_approved %>
				<div class="ui left corner label approved" id="listing-approval-label" data-content="Listing approved" data-variation="inverted">
					<%= content_tag(:i, "", class:"check circle outline icon") %>
				</div>
			<% # Rejected %>
			<% elsif listing.listing_approved == false %>
				<div class="ui left corner label rejected" id="listing-approval-label" data-content="Listing was rejected" data-variation="inverted">
					<%= content_tag(:i, "", class:"remove circle icon") %>
				</div>
			<% # Awaiting Review %>
			<% else %>
				<div class="ui left corner label review" id="listing-approval-label" data-content="Listing awaiting approval" data-variation="inverted">
					<%= content_tag(:i, "", class:"loading spinner icon") %>
				</div>
			<% end %>

			<% # Header containing address and edit listing button %>
			<div class="header">
				<div class="ui two column stackable grid">
					<% # The address, with an icon for the property type %>
					<div class="ui left floated left aligned twelve wide computer twelve wide mobile twelve wide tablet column">
						<h2>
							<span class="house-type">
								<% if listing.listing_type == "House" %>
									<i class="home icon"></i>
								<% elsif listing.listing_type == "Apartment" %>
									<i class="building icon"></i>
								<% else %>
									<i class="marker icon"></i>
								<% end %>
							</span>
							<%= link_to url_for("#{listing.listing_address.parameterize}-#{listing.listing_suburb.parameterize}-#{get_state_short(listing.listing_state).parameterize}-#{listing.listing_post_code}-#{listing.listing_id}"), class: "title-link" do %>
								<%= "#{listing.listing_address}, #{listing.listing_suburb}, #{listing.listing_state} #{listing.listing_post_code}" %>
							<% end %>
						</h2>
					</div>
				</div>
			</div>

			<% # The property listing body %>
			<div class="description">
				<div class="ui three column centered stackable grid">
					<% # Property main listing image %>
					<div class="four wide computer sixteen wide mobile column">
						<div class="ui image" id="main-image-listing-<%= listing.listing_id %>">
							<% if listing.listing_cover_image %>
								<% # Get the cover image through the listing.listing_cover_image association and then get the image %>
								<%= image_tag listing.listing_cover_image.image.url(:medium), class: "ui centered medium image" %>
							<% else %>
								<% # There was no cover image so lets just show the placeholder %>
								<%= image_tag "placeholder.png", class: "ui centered medium image" %>
							<% end %>
						</div>
					</div>

					<% # Description and information block %>
					<div class="nine wide computer sixteen wide mobile column flex-row-with-bottom">
						<% # The Description %>
						<div class="top-row row description-field">
							<b>Description: </b><%= listing.listing_description %>
						</div>

						<% # The bottom info bar showing a tag row, and a row of views, comments, favourites and expiry %>
						<div class="manage-property-bottom">
							<div class="ui horizontal list">
								<div class="item"><%= number_to_currency(listing.listing_price_min, precision: 0) %> - <%= number_to_currency(listing.listing_price_max, precision: 0) %></div>
								<div class="item"><%= listing.listing_bedrooms %></div>
								<div class="item"><%= listing.listing_bathrooms %></div>
								<div class="item"><%= listing.listing_parking %></div>
								<div class="item"><%= listing.listing_land_size %></div>
							</div>
						</div>
					</div>

					<% # Features and Delete Button block (will only show for computers) %>
					<div class="three wide right aligned column">
						<%# Approve, reject delete buttons go here %>
						<%= form_tag(admin_path(id: listing.listing_id), method: :put) do |f| %>

							<div class="ui vertical buttons">
								<%= button_tag "Approve", name: :listing_approved, value: "true", data: { confirm: "Are you sure you want to approve this listing?" }, class: "ui positive fluid button"  %>
								<% if listing.listing_approved != false %>
									<%= button_tag "Reject", name: :listing_approved, value: "false", data: { confirm: "Are you sure you want to approve this listing?" }, class: "ui negative fluid button"  %>
								<% end %>
								<%= link_to "Delete", admin_path(id: listing.listing_id), data: { confirm: "Are you sure you want to delete this listing?" }, method: :delete, class: "ui fluid button" %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>
