<%
#   Created: Daniel Swain
#   Date: 04/04/2016
#
#   Main Manage page template the user will see when they are logged in and have a property.
#
#   This contains a table whos header is a sticky element fixed to the bottom of the nav bar
#   A table of cards containing each property is shown under the header.
#
#   Partials:
#   	* manage_property_card: Used to generate each property to be managed
#
#   Collections:
#   	* @listings: A collection of listings from the database
#
#   Notes:
#   	For pagination (infinite-scroll) the amount of listings displayed per page is configured in the listing.rb file in models.
#   	For pagination/sort please look at manage.js.erb. It is used to change the sort/filter method and to allow infinite scrolling of a users listings
#
#   Todo:
%>

<div class="ui container nobanner-container sell-top sell-mobile-container">
	<div class="ui middle aligned grid container">
		<div class="ui centered row">
			<h2 class="header">Manage Properties</h2>
		</div>
		<div class="ui centered pointing secondary admin tabular menu row">
			<a class="item active" data-tab="admin-1">Pending</a>
			<a class="item" data-tab="admin-2">Rejected</a>
			<a class="item" data-tab="admin-3">Expired</a>
		</div>
	</div>
	<% # A Notice or Error message box used to display alerts when a user has added or updated a property (it's dismissable) %>
	<% if flash[:listing_notice] %>
		<% # A positive message block that is dismissable %>
		<div class="ui positive message">
			<% # The close icon %>
			<i class="close icon"></i>
			<% # Message content %>
			<div class="content">
				<%= flash[:listing_notice] %>
			</div>
		</div>
	<% end %>
	<% if flash[:listing_error] %>
		<% # A negative message block that is dismissable %>
		<div class="ui negative message">
			<% # The close icon %>
			<i class="close icon"></i>
			<% # Message content %>
			<div class="content">
				<%= flash[:listing_error] %>
			</div>
		</div>
	<% end %>

	<% # The property listings the user has. Now using infinite scroll%>
	<div class="ui row margin-top-half">
		<div class="ui tab active" data-tab="admin-1">
			<% if @pending.size > 0 %>
				<div class="ui cards">
					<%= render partial: 'admin/manage_property_card', locals: { listings: @pending } %>
				</div>
			<% else %>
				<div class="ui centered row margin-top">
					<h2 class="header">No pending listings.</h2>
				</div>
			<% end %>
		</div>
		<div class="ui tab" data-tab="admin-2">
			<% if @rejected.size > 0 %>
				<div class="ui cards">
					<%= render partial: 'admin/manage_property_card', locals: { listings: @rejected }%>
				</div>
			<% else %>
				<div class="ui centered row margin-top">
					<h2 class="header">No rejected listings.</h2>
				</div>
			<% end %>
		</div>
		<div class="ui tab" data-tab="admin-3">
			<% if @expired.size > 0 %>
				<div class="ui cards">
					<%= render partial: 'admin/manage_property_card', locals: { listings: @expired } %>
				</div>
			<% else %>
				<div class="ui centered row margin-top">
					<h2 class="header">No expired listings.</h2>
				</div>
			<% end %>
		</div>
	</div>


	<% # Render the to top button %>
	<%= render partial: "layouts/to_top_button", locals: { colour_class: "red-to-top"} %>
</div>
