<%
#   Created: Daniel Swain
#   Date: 09/04/2016
#   
#   Partial for adding/editing the listing information in the add_edit property flow
#   
#   Collections:
#   	* @listing: the property listing to be edited (only if editing)
#   	* @photos: the photos for the property listing
#   
#   Todo:
#   	* Form validation
#   	* Get suburbs (with postcodes) from external source
#   	* Update names for input fields to be consistent and follow the Semantic-ui form validation
#   	* Tie agent upload fields to upload function
#   	* Use jQuery/JS for formatting of some of the fields (i.e. convert price fields to a $100,000 number type when data inputed)
%>

<% # Header %>
<div class="ui centered row">
	<h3 class="header">Edit the information in your listing below:</h3>
</div>

<% # Main content, in this case the extra premium feature option checkboxes. %>
<div class="ui two column row">
	<% # Left hand side column %>
	<div class="ui eight wide column">
		<% # Main form with all listing information %>
		<form action="" class="ui form">
			<% # Dividing header %>
			<h4 class="ui dividing header">Property Information</h4>

			<% # Street Address input %>
			<div class="required field">
				<label>Street Address</label>
				<% if @listing %>
					<input type="text" name="street[address]" placeholder="Street Address" value="<%= @listing.listing_address %>">
				<% else %>
					<input type="text" name="street[address]" placeholder="Street Address">
				<% end %>
			</div>

			<% # Suburb and State Input %>
			<div class="two fields">
				<% # Suburb search field %>
				<div class="required field">
					<label>Suburb</label>
					<% if @listing %>
						<% # Using a form helper select_tag to pass the options and set the selected option to the database value %>
						<% # This will need to change as I'm not using the final list of suburbs, I'm just adding in the database value to a fake list so I can select it %>
						<%= select_tag "suburb", options_for_select(["Select Suburb", "Perth, 6000", "North Perth, 6000", "West Perth, 6000", "South Perth, 6000", @listing.listing_suburb], @listing.listing_suburb), class: "ui fluid search selection add-edit-suburb dropdown" %>
					<% else %>
						<% # Using a form helper select_tag to pass the options and set the selected option to the default value %>
						<%= select_tag "suburb", options_for_select(["Select Suburb", "Perth, 6000", "North Perth, 6000", "West Perth, 6000", "South Perth, 6000"], "Select Suburb"), class: "ui fluid search selection add-edit-suburb dropdown" %>
					<% end %>
				</div>

				<% # State dropdown field %>
				<div class="required field">
					<label>State</label>
					<% if @listing %>
						<% # Using the form helper select_tag to pass the options and set the selected option to the database value %>
						<%= select_tag "state", options_for_select([ "State", "Australian Capital Territory", "New South Wales", "Northern Territory", "Queensland", "South Australia", "Tasmania", "Victoria", "Western Australia" ], @listing.listing_state), class: "ui fluid add-edit-state dropdown" %>	
					<% else %>
						<% # Using the form helper select_tag to pass the options and set the selected option to the default value %>
						<%= select_tag "state", options_for_select([ "State", "Australian Capital Territory", "New South Wales", "Northern Territory", "Queensland", "South Australia", "Tasmania", "Victoria", "Western Australia" ], "State"), class: "ui fluid add-edit-state dropdown" %>	
					<% end %>
				</div>
			</div>

			<% # Bedrooms, Bathrooms, Carbays, Land Size %>
			<div class="four fields">
				<div class="required field">
					<label>Bedrooms</label>
					<% if @listing %>
						<input type="number" min="1" name="bedrooms[number]" placeholder="Bedrooms" value="<%= @listing.listing_bedrooms %>">
					<% else %>
						<input type="number" min="1" name="bedrooms[number]" placeholder="Bedrooms">
					<% end %>
				</div>
				<div class="required field">
					<label>Bathrooms</label>
					<% if @listing %>
						<input type="number" min="1" name="bathrooms[number]" placeholder="Bathrooms" value="<%= @listing.listing_bathrooms %>">
					<% else %>
						<input type="number" min="1" name="bathrooms[number]" placeholder="Bathrooms">
					<% end %>
				</div>
				<div class="required field">
					<label>Parking</label>
					<% if @listing %>
						<input type="number" min="1" name="carbays[number]" placeholder="Carbays" value="<%= @listing.listing_parking %>">
					<% else %>
						<input type="number" min="1" name="carbays[number]" placeholder="Carbays">
					<% end %>
				</div>
				<div class="required field">
					<label>Lot Size (sqm)</label>
					<% if @listing %>
						<input type="number" min="1" name="landsize[number]" placeholder="Lot Size" value="<%= @listing.listing_land_size %>">
					<% else %>
						<input type="number" min="1" name="landsize[number]" placeholder="Lot Size">
					<% end %>
				</div>
			</div>

			<% # Price (either one single price or a ranged price) %>
			<div class="two fields">
				<div class="required field">
					<label>Price Type</label>
					<% if @listing %>
						<% # Using the form_helper select_tag to pass the options and set the selected option to the database value %>
						<%= select_tag "price-type", options_for_select([["Fixed Price", "F"], ["Ranged (Min/Max)", "R"]], @listing.listing_price_type), class: "ui fluid add-edit-price dropdown", id: "add-edit-price-dropdown"  %>
					<% else %>
						<% # Using the form_helper select_tag to pass the options and set the selected option to the default value %>
						<%= select_tag "price-type", options_for_select([["Fixed Price", "F"], ["Ranged (Min/Max)", "R"]], "F"), class: "ui fluid add-edit-price dropdown", id: "add-edit-price-dropdown"  %>
					<% end %>
				</div>
				<div class="field" id="price-field-fixed">
					<label>Listing Price</label>
					<% if @listing %>
						<input type="number" min="1" name="fixedprice[number]" placeholder="Listing Price" value="<%= @listing.listing_price_min %>">
					<% else %>
						<input type="number" min="1" name="fixedprice[number]" placeholder="Listing Price">
					<% end %>
				</div>
				<div class="field" id="price-field-min">
					<label>Minimum</label>
					<% if @listing %>
						<input type="number" min="1" name="minprice[number]" placeholder="Minimum Price" value="<%= @listing.listing_price_min %>">
					<% else %>
						<input type="number" min="1" name="minprice[number]" placeholder="Minimum Price">
					<% end %>
				</div>
				<div class="field" id="price-field-max">
					<label>Maximum</label>
					<% if @listing %>
						<input type="number" min="1" name="maxprice[number]" placeholder="Maximum Price" value="<%= @listing.listing_price_max %>">
					<% else %>
						<input type="number" min="1" name="maxprice[number]" placeholder="Maximum Price">
					<% end %>
				</div>
			</div>

			<% # Description %>
			<div class="required field">
				<label>Description</label>
				<% # NB. I've input two linebreaks here into the placeholder so the placeholder is formatted nicer. erb is required to acheive this. %>
				<% if @listing %>
					<textarea rows="10" placeholder="Enter a description for your property.<%= "\n\n" %>Avoid long descriptions or duplicating features in your descriptions and additional tags to ensure a clean, effective and informative listing."><%= @listing.listing_description %></textarea>
				<% else %>
					<textarea rows="10" placeholder="Enter a description for your property.<%= "\n\n" %>Avoid long descriptions or duplicating features in your descriptions and additional tags to ensure a clean, effective and informative listing."></textarea>
				<% end %>
			</div>
		</form>
	</div>

	<% # Right hand side column %>
	<div class="ui eight wide column">

		<% # Additional information form %>
		<form action="" class="ui form">
			<% # Dividing header %>
			<h4 class="ui dividing header">Additional Information</h4>

			<% # Search Result Info %>
			<div class="required field">
				<label>Search Result Title</label>
				<% if @listing %>
					<input type="text" name="listing-title" placeholder="Enter a descriptive listing title" value="<%= @listing.listing_title %>">
				<% else %>
					<input type="text" name="listing-title" placeholder="Enter a descriptive listing title">
				<% end %>
			</div>
			<div class="required field">
				<label>Search Result Subtitle</label>
				<% if @listing %>
					<input type="text" name="listing-subtitle" placeholder="Enter a subtitle for your listing" value="<%= @listing.listing_subtitle %>">
				<% else %>
					<input type="text" name="listing-subtitle" placeholder="Enter a subtitle for your listing">
				<% end %>
			</div>

			<% # Optional Feature Tags %>
			<div class="field">
				<% # The tag area where new tags are added into %>
				<label>Additional Property Feature Tags</label>
				<select class="ui selection multiple dropdown add-edit custom-tags" multiple="" id="add-edit-additional-tags">
					<option value="" selected>
						Use the widget below to add additionl feature tags for your property. These tags can help make your property stand out in search results so be sure to provide accurate and helpful information (i.e. 1 Pool, 1 Theatre Room)
					</option>
				</select>
			</div>
			<div class="field">
				<% # The add a tag form which lets you add custom tags %>
				<label>Add A Property Feature Tag</label>
				<div class="ui action input">
					<% # The tag type dropdown %>
					<% # Get the tag type objects for the desired categories %>
					<% indoor_tags = add_edit_get_tag_types_for_category("Indoor Features") %>
					<% outdoor_tags = add_edit_get_tag_types_for_category("Outdoor Features") %>
					<select class="ui search selection add-edit-additional-tags dropdown" id="add-edit-additional-tags-dropdown">
						<option value="">Additional Feature</option>
						<% # Add tags to the dropdown from the database %>
						<% if indoor_tags %>
							<% # Indoor tags first %>
							<% indoor_tags.each do |tag| %>
								<option value="<%= tag.tag_type_label %>"><%= tag.tag_type_label %></option>
							<% end %>
						<% end %>
						<% if outdoor_tags %>
							<% # Outdoor tags next %>
							<% outdoor_tags.each do |tag| %>
								<option value="<%= tag.tag_type_label %>"><%= tag.tag_type_label %></option>
							<% end %>
						<% end %><!-- 
						<option value="Pool">Pool</option>
						<option value="HT">Theatre Room</option> -->
					</select>
					<% # The tag value input field, done as a dropdown (NB. Added 'fluid' as field wasn't full width) %>
					<% # Using a form_helper select_tag, if you want to change the options, edit the array in options_for_select. prompt: adds a default selection with the given placeholder text %>
					<%= select_tag "additional-tag-input", options_for_select(["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]), class: "ui fluid selection add-edit-additional-tags-input dropdown", id: "add-edit-additional-tags-input", prompt: "Enter Qty For Additional Feature" %>
					<% # The add tag button %>
					<div class="ui icon button" id="add-edit-additional-tags-button">
						<i class="plus icon"></i>
					</div>
				</div>
			</div>
			
			<% # Optional Seller Information %>
			<h4 class="ui dividing header">Seller Information</h4>
			<div class="field">
				<label>Agency Name</label>
				<input type="text" name="seller-company" placeholder="Enter your agency or company name">
			</div>
			<% # The upload actions for the seller logo and agent image. %>
			<div class="two fields">
				<% # Company Logo %>
				<div class="field">
					<label>Agency Logo</label>
					<div class="ui action input">
						<input type="text" placeholder="Upload your agency logo">
						<button class="ui icon button">
							<i class="upload icon"></i>
						</button>
					</div>
				</div>

				<% # Agent Image %>
				<div class="field">
					<label>Agent Image</label>
					<div class="ui action input">
						<input type="text" placeholder="Upload your agent image">
						<button class="ui icon button">
							<i class="upload icon"></i>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
