<%
#   Created: Daniel Swain
#   Date: 07/04/2016
#   
#   Partial erb used by the manage page.
#   This represents the modal used to edit the status for the selected property
#   
#   Local variables (i.e. can be refered to just by 'name' not '@name' in pe tags:
#   	* id: The id of the property
#   	* address: The property address
#   	* status: The property's status
#   
#   Todo:
#   	* Save choices you make in the modal to the database object
#   	* Open the relevant accordion based upon the status of the property (i.e. home open or none.)
%>

<% # The staus modal %>
<div class="ui small manage-status modal" id=<%= id %>>
	<% # Modal header %>
	<div class="header">
		<div class="ui center aligned grid">
			Edit Status for: <%= address %>
		</div>
	</div>

	<% # Modal content %>
	<div class="content">
		<% # The modal is made up of accordions for each selection, clicking the checkbox opens up that accordion and hides the others %>
		<div class="ui accordion">

			<% # Home Open Accordian %>
			<div class="active title">
				<div class="ui radio checked checkbox">
					<input type="radio" name="radio" checked="checked">
					<label>Home Open</label>
				</div>
			</div>
			<div class="active content">
				<p>Enter the date and time for your next Home Open.</p>
				<p>This will mark your property as "Upcoming Home Open" with the date and time specified, updating your search results and sending notifications to those subscribed to this property</p>

				<% # Date and time pickers %>
				<div class="ui three column grid">
					<div class="left floated column" id="home-date-container-<%= id %>">
						<div class="ui labeled input">
							<div class="ui label">
								Date:
							</div>
							<div class="ui status-date input" >
								<input class="no-picker-set" type="text" name="home-date" placeholder="DD-MM-YYYY" id="home-date-<%= id %>">
							</div>
						</div>
					</div>
					<div class="centered column" id="home-start-time-container-<%= id %>">
						<div class="ui labeled input">
							<div class="ui label">
								Start Time:
							</div>
							<div class="ui status-time input">
								<input class="no-picker-set" type="text" name="home-start-time" placeholder="HH:MM" id="home-start-time-<%= id %>">
							</div>
						</div>
					</div>
					<div class="right floated column" id="home-end-time-container-<%= id %>">
						<div class="ui labeled input">
							<div class="ui label">
								End Time:
							</div>
							<div class="ui status-time input">
								<input class="no-picker-set" type="text" name="home-end-time" placeholder="HH:MM" id="home-end-time-<%= id %>">
							</div>
						</div>
					</div>
				</div>
			</div>

			<% # Auction Accordian %>
			<div class="title">
				<div class="ui radio checkbox">
					<input type="radio" name="radio">
					<label>Auction</label>
				</div>
			</div>
			<div class="content">
				<p>Enter the date and time for your next Auction.</p>
				<p>This will mark your property as "Upcoming Auction" with the date and time specified, updating your search results and sending notifications to those subscribed to this property</p>
				
				<% # Date and time pickers %>
				<div class="ui three column grid">
					<div class="left floated column" id="auction-date-container-<%= id %>">
						<div class="ui labeled input">
							<div class="ui label">
								Date:
							</div>
							<div class="ui status-date input">
								<input class="no-picker-set" type="text" name="auction-date" placeholder="DD-MM-YYYY" id="auction-date-<%= id %>">
							</div>
						</div>
					</div>
					<div class="centered column" id="auction-start-time-container-<%= id %>">
						<div class="ui labeled input">
							<div class="ui label">
								Start Time:
							</div>
							<div class="ui status-time input">
								<input class="no-picker-set" type="text" name="auction-start-time" placeholder="HH:MM" id="auction-start-time-<%= id %>">
							</div>
						</div>
					</div>
					<div class="right floated column" id="auction-end-time-container-<%= id %>">
						<div class="ui labeled input">
							<div class="ui label">
								End Time:
							</div>
							<div class="ui status-time input">
								<input class="no-picker-set" type="text" name="auction-end-time" placeholder="HH:MM" id="auction-end-time-<%= id %>">
							</div>
						</div>
					</div>
				</div>
			</div>

			<% # Under Offer Accordian %>
			<div class="title">
				<div class="ui radio checkbox">
					<input type="radio" name="radio">
					<label>Under Offer</label>
				</div>
			</div>
			<div class="content">
				<p>This will mark your property as "Under Offer" in search results and in notifications to those subscribed to this property.</p>
			</div>

			<% # Sold Accordian %>
			<div class="title">
				<div class="ui radio checkbox">
					<input type="radio" name="radio">
					<label>Sold</label>
				</div>
			</div>
			<div class="content">
				<p>This will mark your property as "Sold" in search results and in notifications to those subscribed to this property.</p>
			</div>

			<% # Remove Status Accordian %>
			<div class="title">
				<div class="ui radio checkbox">
					<input type="radio" name="radio">
					<label>Remove Status</label>
				</div>
			</div>
			<div class="content">
				<p>This will remove any previous status you have currently set on this property.</p>
			</div>
		</div>	
	</div>

	<% # The action buttons %>
	<div class="actions">
		<div class="ui cancel button">Cancel</div>
		<div class="ui approve primary button">Save</div>
	</div>
</div>
