<%
#   Created: Daniel Swain
#   Date: 06/04/2016
#   
#   Partial erb used by the manage page.
#   
#   This represents a property that will be manigable by the user, it might be rendered multiple times
#   
#   Collections
#   	@listings: The collection of listing objects from the database. 
#   		Access properties using the database column names as listed in /app/models/listing.rb
#   
#   Todo:
#   	* Style the Prompt/Dialog/Modal for the delete button
#   	* Change the bathroom count icon from a bed to a bath when Jayden designs it.
%>

<% # A property listing management card. %>
<% @listings.each do |listing| %>
	<div class="ui fluid card manage-listing-card">
		<div class="content">
			<% # Corner label to tell if listing is approved, rejected or awaiting review %>
			<% if listing.listing_approved %>
				<div class="ui left corner label approved" id="listing-approval-label" data-content="Listing approved" data-variation="inverted">
					<%= content_tag(:i, "", class:"check circle outline icon") %>
				</div>
			<% # Rejected %>
			<% elsif listing.listing_approved == false %>
				<div class="ui left corner label rejected" id="listing-approval-label" data-content="Listing was rejected" data-variation="inverted">
					<%= content_tag(:i, "", class:"remove circle icon") %>
				</div>
			<% # Awaiting Review %>
			<% else %>
				<div class="ui left corner label review" id="listing-approval-label" data-content="Listing awaiting approval" data-variation="inverted">
					<%= content_tag(:i, "", class:"loading spinner icon") %>
				</div>
			<% end %>

			<% # Header containing address and edit listing button %>
			<div class="header">
				<div class="ui two column grid">
					<% # The address %>
					<div class="ui left floated left aligned twelve wide column">
						<h2>
							<%= "#{listing.listing_address}, #{listing.listing_suburb}, #{listing.listing_state} #{listing.listing_post_code}" %>
						</h2>
					</div>

					<% # The Edit listing Button %>
					<div class="ui right floated right aligned four wide column">
						<%= link_to edit_sell_path(listing.listing_id), class: "ui small right labeled icon button sell-red-button" do  %>
							<%= content_tag(:i, "", class: "write icon") %>
							Edit Listing
						<% end %>
					</div>
				</div>
			</div>

			<% # The property listing body %>
			<div class="description">
				<div class="ui three column centered grid">
					<% # Property main listing image %>
					<div class="four wide column">
						<div class="ui image" id="main-image-listing-<%= listing.listing_id %>">
							<% # Get the main image path using our sell_helper.rb method listing_get_main_image(listing) %>
							<%= image_tag listing_get_main_image(listing).listing_image_path, class: "ui centered medium image" %>
							
							<% # Status ribbon, clicking this will open the edit modal. %>
							<% if listing_get_status_object(listing) %>
								<% # If there is a status then we do this %>
								<% status_object = listing_get_status_object(listing) %>
								<% # Done in a content tag so I can send data information that is needed via the javascript function %>
								<%= content_tag :div, class: "ui label sell-red-ribbon manage-status ribbon", id: "launch-modal-#{listing.listing_id}", 
									onclick:"set_up_and_launch_modal(#{listing.listing_id})", data: {listing: listing.listing_id, 
										label: status_object.listing_status_label,
										date: listing_get_status_date_readable(listing),
										start: listing_get_status_start_time_readable(listing),
										end: listing_get_status_end_time_readable(listing)} do %>
									<span class="ribbon-text"><%= listing_get_status_readable(listing) %></span>
									<div class="detail"><i class="write icon"></i></div>
								<% end %>
							<% else %>
								<% # There's no status object for this listing, set a blank ribbon %>
								<%= content_tag :div, class: "ui label sell-red-ribbon manage-status ribbon", id: "launch-modal-#{listing.listing_id}", 
									onclick:"set_up_and_launch_modal(#{listing.listing_id})", data: {listing: listing.listing_id, 
										label: "None",
										date: "",
										start: "",
										end: ""} do %>
									<span class="ribbon-text">Click here to set a status</span>
									<div class="detail"><i class="write icon"></i></div>
								<% end %>
							<% end %>
						</div>
					</div>
					
					<% # Description and information block %>
					<div class="nine wide column">
						<% # The Description %>
						<div class="row">
							<b>Description: </b><%= listing.listing_description %>
						</div>
						
						<% # The bottom info bar showing a tag row, and a row of views, comments, favourites and expiry %>
						<div class="manage-property-bottom">
							<% # The row of feature tags (only showing the first 10) %>
							<% if listing.listing_tags.size > 0  %>
								<% # We have tags, so lets get the readable collection and display them %>
								<div class="row top-row">
									<% # Get the tag list in a readable format (this returns a 2d array, but we only need the first element) %>
									<% tags = add_edit_get_readable_tags_collection(listing.listing_tags) %>
									<% # A label for each tag in the list %>
									<% tags.each do |tag| %>
										<div class="ui sell-feature-tag label">
											<% # tag[0] = "Value Tag_Label", tag[1] = "value_tag-label_tag-category" %>
											<%= tag[0] %>
										</div>
									<% end %>
								</div>
							<% end %>
							
							<% # The Row of views, comments, favourites and expiry date %>
							<div class="row">
								<% # The number of views %>
								<span>
									<%= content_tag(:i, "", class:"unhide icon") %>
									<%= listing.listing_views %> Views
								</span>
								<% # The number of favourites %>
								<span>
									<%= content_tag(:i, "", class:"star icon") %>
									<%= listing.listing_favourites %> Favourites
								</span>
								<% # The number of comments %>
								<span>
									<%= content_tag(:i, "", class:"comments icon") %>
									<%= listing.listing_comments %> Comments
								</span>
								<% # The time left until expiry %>
								<% # TODO make this get from database %>
								<span>
									<%= content_tag(:i, "", class:"wait icon") %>
									6 Weeks Until Expired
								</span>
							</div>
						</div>
					</div>
					
					<% # Features and Delete Button block %>
					<div class="three wide right aligned column">
						<% # Property Listing features %>
						<% # Get the listing pricy type for display %>
						<p class="sell-listing-feature">
							<% if listing.listing_price_type == "F" %>
								<b><%= number_to_currency(listing.listing_price_min, { precision: 0 }) %></b>
							<% else %>
								<b><%= number_to_currency(listing.listing_price_min, { precision: 0 }) %> - <%= number_to_currency(listing.listing_price_max, { precision: 0, unit: "" }) %></b>
							<% end %>
						</p>
						<% # The remaining listing features %>
	 					<p class="sell-listing-feature"><b><%= listing.listing_land_size %> sqm</b></p>
	 					<p class="sell-listing-feature"><b><%= listing.listing_bedrooms %></b> <i class="bed icon"></i></p>
	 					<p class="sell-listing-feature"><b><%= listing.listing_bathrooms %></b> <i class="bed icon"></i></p>
	 					<p class="sell-listing-feature"><b><%= listing.listing_parking %></b> <i class="car icon"></i></p>

						<% # Delete Property Listing button %>
						<div class="manage-property-bottom-right">
							<%= link_to sell_path(listing.listing_id), method: :delete, class: "ui small right labeled icon bottom attached button sell-red-button" do  %>
								<%= content_tag(:i, "", class: "trash icon") %>
								Delete
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<% if listing_get_status_object(listing) %>
		<% # If there is a status then we do this %>
		<% # Render the status modal for this property listing %>
		<%= render 'sell/manage_property_status_modal', {
				status_id: listing.listing_status_id,
				status_object: listing_get_status_object(listing),
				listing_id: listing.listing_id,
				address: "#{listing.listing_address}, #{listing.listing_suburb}, #{listing.listing_state} #{listing.listing_post_code}"
			} %>
	<% end %>
<% end %>
