<%
#   Created: Daniel Swain
#   Date: 06/04/2016
#   
#   Partial erb used by the manage page.
#   
#   This represents a property that will be manigable by the user, it might be rendered multiple times
#   
#   Local variables (i.e. can be refered to just by 'name' not '@name' in pe tags:
#   	* id: The id of the property
#   	* address: The property address
#   	* status: The property's status
#   	* image_path: The path for the property's main image
#   	* description: The property's description
#   	* counts: A hash of the property's stats. Hash structure is below
#   		NB. Each key is also used as the icon class:
#   		 	unhide: 	[Number of views, Text to append to value]
#   		 	star: 		[Number of favourites, Text to append to value]
#   		 	comments: 	[Number of comments, Text to append to value]
#   		 	wait: 		[Weeks until expiry of listing, Text to append to value]
#   
#   Todo:
#   	* Prompt/Dialog/Modal for the delete button
#   	* Property Features formatting/grab info from database
 %>

<% # A property management card, the local variables are filled by the sell_controller %>
<div class="ui fluid card">
	<div class="content">
		<% # Header containing address and edit listing button %>
		<div class="header">
			<div class="ui two column grid">
				<% # The address %>
				<div class="ui left floated left aligned column">
					<h2><%= address %></h2>
				</div>

				<% # The Edit listing Button %>
				<div class="ui right floated right aligned column">
					<%= link_to edit_sell_path(id), class: "ui small right labeled icon button sell-red-button" do  %>
						<%= content_tag(:i, "", class: "write icon") %>
			  			Edit Listing
					<% end %>
				</div>
			</div>
		</div>

		<% # The property body %>
		<div class="description">
			<div class="ui three column centered grid">
				<% # Property main image %>
				<div class="four wide column">
					<div class="ui image">
						<% # The main image %>
						<%= image_tag "#{image_path}", class: "ui centered medium image" %>

						<% # Status ribbon, clicking this will open the edit modal. %>
						<div class="ui label sell-red-ribbon manage-status ribbon">
							<%= status %>
							<div class="detail"><i class="write icon"></i></div>
						</div>
					</div>
				</div>
				
				<% # Description and information block %>
				<div class="nine wide column">
					<% # The Description %>
					<p><b>Description: </b><%= description %></p>

					<% # The bottom info bar showing views, comments, favourites and expiry %>
					<div class="manage-property-bottom">
						<% counts.each do |key, value| %>
							<span>
								<%= content_tag(:i, "", class: "#{key.to_s} icon") %>
								<%= value[0] %> <%= value[1] %>
							</span>
						<% end %>
					</div>
				</div>
				
				<% # Features and Delete Button block %>
				<div class="three wide right aligned column">
					<% # Property features %>
 					<p>3 Bedrooms</p>
 					<p>2 Bathrooms</p>
 					<p>2 Carports</p>
 					<p>450sqm</p>

					<% # Delete Property button %>
					<div class="manage-property-bottom-right">
						<%= link_to sell_path(id), method: :delete, class: "ui small right labeled icon bottom attached button sell-red-button" do  %>
							<%= content_tag(:i, "", class: "trash icon") %>
				  			Delete
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>