<%
#   Created: Daniel Swain
#   Date: 07/04/2016
#   
#   Partial erb used by the manage page.
#   This represents the modal used to edit the status for the selected property
#   
#   Local variables (i.e. can be refered to just by 'name' not '@name' in pe tags:
#   	* status_id: The id of the status object in the database
#   	* status_object: the actual status object
#   	* listing_id: The id of the listing object in the database
#   	* address: The property address
#   
#   Todo:
#   	* Save choices you make in the modal to the database object
#   	* When the modal is set the checkbox isn't being set as active, even though the class is there.
%>

<% # The following variables are used to set things as active or not %>
<% home_class, home_checked, auction_class, auction_checked, under_offer_class, under_offer_checked, sold_class, sold_checked = status_get_active_classes(status_object) %>
<% # The following variables are used to get/set the initial values from the listing status %>
<% home_date, home_start_time, home_end_time, auction_date, auction_start_time, auction_end_time = status_get_date_and_times(status_object) %>

<% # The status modal %>
<div class="ui small manage-status modal" id=<%= status_id %>>
	<% # Modal header %>
	<div class="header">
		<div class="ui center aligned grid">
			Edit Status for: <%= address %>
		</div>
	</div>

	<% # Modal content %>
	<div class="content">
		<% # The modal is made up of accordions for each selection, clicking the checkbox opens up that accordion and hides the others %>
		<div class="ui accordion">

			<% # Home Open Accordian %>
			<div class="title <%= home_class %>">
				<div class="ui radio checkbox <%= home_checked %>">
					<input type="radio" name="radio" checked="<%= home_checked %>">
					<label>Home Open</label>
				</div>
			</div>
			<div class="content <%= home_class %>">
				<p>Enter the date and time for your next Home Open.</p>
				<p>This will mark your property as "Upcoming Home Open" with the date and time specified, updating your search results and sending notifications to those subscribed to this property</p>

				<% # Date and time pickers %>
				<div class="ui three column grid">
					<div class="left floated column" id="home-date-container-<%= status_id %>">
						<div class="ui labeled input">
							<div class="ui label">
								Date:
							</div>
							<div class="ui status-date input" >
								<input class="no-picker-set" type="text" name="home-date" placeholder="DD-MM-YYYY" id="home-date-<%= status_id %>" value="<%= home_date %>">
							</div>
						</div>
					</div>
					<div class="centered column" id="home-start-time-container-<%= status_id %>">
						<div class="ui labeled input">
							<div class="ui label">
								Start Time:
							</div>
							<div class="ui status-time input">
								<input class="no-picker-set" type="text" name="home-start-time" placeholder="HH:MM" id="home-start-time-<%= status_id %>" value="<%= home_start_time %>">
							</div>
						</div>
					</div>
					<div class="right floated column" id="home-end-time-container-<%= status_id %>">
						<div class="ui labeled input">
							<div class="ui label">
								End Time:
							</div>
							<div class="ui status-time input">
								<input class="no-picker-set" type="text" name="home-end-time" placeholder="HH:MM" id="home-end-time-<%= status_id %>" value="<%= home_end_time %>">
							</div>
						</div>
					</div>
				</div>
			</div>

			<% # Auction Accordian %>
			<div class="title <%= auction_class %>">
				<div class="ui radio checkbox <%= auction_checked %>">
					<input type="radio" name="radio" checked="<%= auction_checked %>">
					<label>Auction</label>
				</div>
			</div>
			<div class="content <%= auction_class %>">
				<p>Enter the date and time for your next Auction.</p>
				<p>This will mark your property as "Upcoming Auction" with the date and time specified, updating your search results and sending notifications to those subscribed to this property</p>
				
				<% # Date and time pickers %>
				<div class="ui three column grid">
					<div class="left floated column" id="auction-date-container-<%= status_id %>">
						<div class="ui labeled input">
							<div class="ui label">
								Date:
							</div>
							<div class="ui status-date input">
								<input class="no-picker-set" type="text" name="auction-date" placeholder="DD-MM-YYYY" id="auction-date-<%= status_id %>" value="<%= auction_date %>">
							</div>
						</div>
					</div>
					<div class="centered column" id="auction-start-time-container-<%= status_id %>">
						<div class="ui labeled input">
							<div class="ui label">
								Start Time:
							</div>
							<div class="ui status-time input">
								<input class="no-picker-set" type="text" name="auction-start-time" placeholder="HH:MM" id="auction-start-time-<%= status_id %>" value="<%= auction_start_time %>">
							</div>
						</div>
					</div>
					<div class="right floated column" id="auction-end-time-container-<%= status_id %>">
						<div class="ui labeled input">
							<div class="ui label">
								End Time:
							</div>
							<div class="ui status-time input">
								<input class="no-picker-set" type="text" name="auction-end-time" placeholder="HH:MM" id="auction-end-time-<%= status_id %>" value="<%= auction_end_time %>">
							</div>
						</div>
					</div>
				</div>
			</div>

			<% # Under Offer Accordian %>
			<div class="title <%= under_offer_class %>">
				<div class="ui radio checkbox <%= under_offer_checked %>">
					<input type="radio" name="radio" checked="<%= under_offer_checked %>">
					<label>Under Offer</label>
				</div>
			</div>
			<div class="content <%= under_offer_class %>">
				<p>This will mark your property as "Under Offer" in search results and in notifications to those subscribed to this property.</p>
			</div>

			<% # Sold Accordian %>
			<div class="title <%= sold_class %>">
				<div class="ui radio checkbox <%= sold_checked %>">
					<input type="radio" name="radio" checked="<%= sold_checked %>">
					<label>Sold</label>
				</div>
			</div>
			<div class="content <%= sold_class %>">
				<p>This will mark your property as "Sold" in search results and in notifications to those subscribed to this property.</p>
			</div>

			<% # Remove Status Accordian %>
			<div class="title">
				<div class="ui radio checkbox">
					<input type="radio" name="radio">
					<label>Remove Status</label>
				</div>
			</div>
			<div class="content">
				<p>This will remove any previous status you have currently set on this property.</p>
			</div>
		</div>	
	</div>

	<% # The action buttons %>
	<div class="actions">
		<div class="ui cancel button">Cancel</div>
		<div class="ui approve primary button">Save</div>
	</div>
</div>
