<%
#   Created: Daniel Swain
#   Date: 07/04/2016
#   
#   Add/Edit page template the user will see when they are logged in and adding/editing a property listing.
#   
#   Partials:
#   	* add_edit_listing: the parial for the edit listing information tab
#   	* add_edit_photos: the partial for adding/editing photos
#   	* add_edit_extras: the parital for the extra paid features
#   	* add_edit_buttons: the partial with the action buttons that save the additions/edits.
#   
#   Collections:
#   	* @listing: the property listing to be edited (only if editing)
#   	* @photos: the photos for the property listing
#   	* @tags: the tags associated with the listing
#   	* @action: a descriptor for the action (i.e. "Save Changes", "Create Listing")
#   
#   Todo:
#   	* Bring in Jayden's search results property partial to preview
#   	* Live update the preview
#   	* Show dummy data in the preview when adding a new listing if the form fields aren't entered.
%>

<% # Main container %>
<div class="ui container nobanner-container sell-mobile-container">
	<div class="ui middle aligned grid container">
		<div class="ui centered pointing secondary add-edit tabular menu row">
			<a class="item active" data-tab="add-edit-1">Listing Information</a>
			<a class="item" data-tab="add-edit-2">Photographs</a>
			<a class="item" data-tab="add-edit-3">Extras</a>
			<a class="item" data-tab="add-edit-4">Preview</a>
		</div>
	</div>
	<div class="ui segment">
		<div class="ui row margin-top-half">
			<% # Wrap all tabs in a single form so I have access to all input fields across tabs %>
			<% if @action == "Create Listing" %>
				<% # If the action is Create Listing, then set up the form with the method POST and the correct url (pointing to the sell_index_path) %>
				<%= form_for @listing, url: sell_index_path, html: { id: "add-edit-listing-form", class: "ui form sell-form", method: "POST", multipart: true } do |f| %>
					<div class="ui tab active" data-tab="add-edit-1">
						<div class="ui one column stackable grid">
							<% # Render the tab body for the add/edit listing tab %>
							<% # Note, need to pass the form object reference 'f' through as a local object %>
							<%= render "sell/add_edit_listing", {f: f} %>
						</div>
					</div>
					<div class="ui tab" data-tab="add-edit-2">
						<div class="ui one column stackable grid">
							<% # Render the tab body for the add/edit photos tab %>
							<%= render "sell/add_edit_photos", {f: f} %>					
						</div>
					</div>

					<% # The extras tab %>
					<div class="ui tab" data-tab="add-edit-3">
						<div class="ui one column grid">
							<% # Render the tab body for the add/edit extras tab %>
							<%= render "sell/add_edit_extras", {f: f} %>
						</div>
					</div>

					<% # The preview tab %>
					<div class="ui tab" data-tab="add-edit-4">
						<div class="ui one column centered stackable grid">
							<% # This will be where the search partial will be rendered to show the previews %>
							<%= render "sell/add_edit_preview" %>
						</div>
					</div>
				<% end %>
			<% elsif @action == "Save Changes" %>
				<% # If the action is Save Changes, then set up the form with the method PATCH and the correct url (pointing to the sell_path) %>
				<%= form_for @listing, url: sell_path, html: { id: "add-edit-listing-form", class: "ui form sell-form", method: "PATCH", multipart: true } do |f| %>
					<div class="ui tab active" data-tab="add-edit-1">
						<div class="ui one column stackable grid">
							<% # Render the tab body for the add/edit listing tab %>
							<% # Note, need to pass the form object reference 'f' through as a local object %>
							<%= render "sell/add_edit_listing", {f: f} %>
						</div>
					</div>

					<% # Photos tab %>
					<div class="ui tab" data-tab="add-edit-2">
						<div class="ui one column stackable grid">
							<% # Render the tab body for the add/edit photos tab %>
							<%= render "sell/add_edit_photos", {f: f} %>					
						</div>
					</div>

					<% # The extras tab %>
					<div class="ui tab" data-tab="add-edit-3">
						<div class="ui one column stackable grid">
							<% # Render the tab body for the add/edit extras tab %>
							<%= render "sell/add_edit_extras", {f: f} %>
						</div>
					</div>

					<% # The preview tab %>
					<div class="ui tab" data-tab="add-edit-4">
						<div class="ui one column centered stackable grid">
							<% # This will be where the search partial will be rendered to show the previews %>
							<%= render "sell/add_edit_preview" %>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>

		<% # The form buttons %>
		<div class="ui grid">
			<%= render 'sell/add_edit_buttons' %>
		</div>
	</div>

	<% # Render the to top button %>
	<%= render partial: "layouts/to_top_button", locals: { colour_class: "red-to-top"} %>
</div>
