<%
#   Created: Daniel Swain
#   Date: 04/04/2016
#   
#   The sell page for the site.
#   
#   Partials:
#   	* index_advertising: Bring in the advertising section for the page.
 %>

<% # Banner %>
<div class="sell-banner sell-top">
	<div class="ui center aligned container">
		<h1 class="ui inverted header">LOOKING TO SELL YOUR HOME?</h1>
		<% 
		# Link to the sell#new action using the new_sell_path resource helper
		# NB. A content tag is required to include an icon in the link body (via the code block)
		%>
		<%= link_to new_sell_path, class: "ui big right labeled icon button sell-red-button" do  %>
			<%= content_tag(:i, "", class: "plus icon") %>
			Add Your Property
		<% end %>
	</div>
</div>

<% # Main Page container %>
<div class="ui center aligned container">
	<% # A Notice or Error message box used to display alerts when a user has added or updated a property (it's dismissable) %>
	<% if flash[:listing_notice] %>
		<% # A positive message block that is dismissable %>
		<div class="ui positive message margin-top">
			<% # The close icon %>
			<i class="close icon"></i>
			<% # Message content %>
			<div class="content">
				<%= flash[:listing_notice] %>
			</div>
		</div>
	<% end %>
	<% if flash[:listing_error] %>
		<% # A negative message block that is dismissable %>
		<div class="ui negative message margin-top">
			<% # The close icon %>
			<i class="close icon"></i>
			<% # Message content %>
			<div class="content">
				<%= flash[:listing_error] %>
			</div>
		</div>
	<% end %>
	<%= render "sell/index_advertising" %>
</div>
