<header class="following bar">
	<div class="ui center aligned container">
		<div class="ui centered three column grid">
			<%# Mobile Side Bar %>
			<div class="ui left floated mobile-nav column">
				<span>Menu</span>
				<i class="big sidebar icon"></i>
			</div>
			<% #company logo %>
			<div class="ui left floated column logo-header">
				<%= link_to image_tag("propertydome-logo.png", alt:"Property Dome Logo", class: "propertydome-logo"), buy_path %>
			</div>
			<% #main header slections buy, sell, activity/contact %>
			<div class="center aligned column">
				<div class="ui secondary pointing compact menu main-nav">
					<%= link_to "Buy", buy_path, class: "buy-item active item " %>
					<%= link_to "Sell", sell_index_path, class: "sell-item item" %>
					<% #if logged in show my activity button/path %>
					<% if user_signed_in? %>
						<%= link_to "My Activity", dashboard_activity_path, class: "activity-item item" %>
					<% #if logged out show contact us button/path %>
					<% else %>
						<%= link_to "Contact Us", contact_path, class: "activity-item item" %>
					<% end %>
				</div>
			</div>
			<% #user profile or loggin/signup %>
			<div class="right floated middle aligned right aligned column">
				<% #user logged in profile selection %>
				<% if user_signed_in? %>
					<div class="ui simple dropdown item user-nav">
						<% # Profile image as link to dashboard as well %>
						<%= link_to dashboard_activity_path do %>
							<%= image_tag current_user.avatar.url(:thumb), alt: "User Profile Image", class: "ui avatar image" %>
						<% end %>
						<% #user profile name %>
						<% if @username %>
						    <%= link_to "#{@username}", dashboard_activity_path, class: "nav-username" %> <i class="dropdown icon"></i>
						<% elsif @first_name and @last_name %>
						    <%= link_to "#{@first_name} #{@last_name}", dashboard_activity_path, class: "nav-username" %> <i class="dropdown icon"></i>
						<% else %>
						    <%= link_to "#{@email}", dashboard_activity_path, class: "nav-username" %> <i class="dropdown icon"></i>
						<% end %>
						<div class="menu">
							<%= link_to "My Activity", dashboard_activity_path, class: "item" %>
							<%= link_to "My Messages", dashboard_messages_path, class: "item" %>
							<%= link_to "My Favourites", dashboard_favourites_path, class: "item" %>
							<%= link_to "Account Settings", dashboard_settings_path, class: "item" %>
							<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "item" %>
						</div>
					</div>
					<% # number of alerts %>
					<%= link_to dashboard_activity_path, class: "ui circular label alert-badge" do %>
						<i class="alarm icon"></i>2 
					<% end %>
				<% #user is logged out login/signup selection %>
				<% else %>
					<button class="ui button user-login">Login</button>
					<button class="ui inverted white button user-signup">Join</button>
				<% end %>
				<% #company logo tablet %>
				<div class="logo-header-tablet">
					<%= link_to image_tag("propertydome-logo.png", alt:"Property Dome Logo", class: "propertydome-logo"), buy_path %>
				</div>
				<% #company logo mobile %>
				<div class="logo-header-mobile">
					<%= link_to image_tag("propertydome-logo-mobile.png", alt:"Property Dome Logo", class: "propertydome-logo"), buy_path %>
				</div>
			</div>
		</div>
	</div>
</header>
