<% user_logged_in = true #TMP solution to set user is logged in or off %>
<header class="following bar nav-buy">
	<div class="ui center aligned container">
		<div class="ui centered three column grid">
			<% #company logo %>
			<div class="left floated column">
				<%= link_to image_tag("propertydome-logo.png", alt:"Property Dome Logo", class: "propertydome-logo"), buy_path %>
			</div>
			<% #main header slections buy, sell, activity/contact %>
			<div class="center aligned column">
				<div class="ui secondary pointing compact menu main-nav">
					<%= link_to "Buy", buy_path, class: "buy-item active item " %>
					<%= link_to "Sell", sell_index_path, class: "sell-item item" %>
					<% #if logged in show my activity button/path %>
					<% if user_logged_in %>
						<%= link_to "My Activity", dashboard_path, class: "activity-item item" %>
					<% end %>
					<% #contact us path is currently incorrect %>
					<% #if logged out show contact us button/path %>
					<% if !user_logged_in %>
						<%= link_to "Contact Us", dashboard_path, class: "activity-item item" %>
					<% end %>
				</div>
			</div>
			<% #user profile or loggin/signup %>
			<div class="right floated middle aligned right aligned column">
				<% #user logged in profile selection %>
				<% if user_logged_in %>
					<div class="ui simple dropdown item">
						<%= image_tag "userprofile-header.png", alt: "User Profile Image", class: "ui avatar image" %>
						<% #user profile name %>
						<%= link_to "Ron Swanson", buy_path %> <i class="dropdown icon"></i>
						<div class="menu">
							<div class="item">My Activity</div>
							<div class="item">My Messages</div>
							<div class="item">Favourites</div>
							<div class="item">Account Settings</div>
							<div class="item">Logout</div>
						</div>
					</div>
					<% #number of alerts %>
					<a class="ui circular label alert-badge"><i class="alarm icon"></i>2 </a>
				<% end %>
				<% #user is logged out login/signup selection %>
				<% if !user_logged_in %>
					<button class="ui button user-login">Login</button>
					<button class="ui inverted green button user-signup">Join</button>
				<% end %>
			</div>
		</div>
	</div>
</header>
