<!DOCTYPE html>
<html>
<head>
  <title>Propertydome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN97vIMbPrdzFRBtV1RvTtWHf2ruG4J34"></script>
</head>
	<body class="site">
		<div class="site-content">
			<%= render "layouts/header" %>
      <!-- Dismissable messages | Add close JS http://semantic-ui.com/collections/message.html -->
      <div class="ui floating success message">
        <i class="close icon"></i>
        <p>Notice: <%= notice %></p>
      </div>
      <div class="ui floating negative message">
        <i class="close icon"></i>
        <p>Alert: <%= alert %></p>
      </div>

			<%= render "layouts/user_modal" %>
			<%= yield %>
		</div>
		<%= render "layouts/footer" %>
	</body>
</html>
