<!DOCTYPE html>
<html>
<head>
  <title>Propertydome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN97vIMbPrdzFRBtV1RvTtWHf2ruG4J34"></script>
</head>
<body>
<%= render "layouts/header" %>
<%= yield %>
<%= render "layouts/map" %>
<%= render "layouts/footer" %>
</body>
</html>
