<!DOCTYPE html>
<html>
<head>
  <title>Propertydome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN97vIMbPrdzFRBtV1RvTtWHf2ruG4J34&libraries=places"></script>
</head>
	<% # site and site-content classes used to correctly possition footer at bottom. Footer needs to be outsite site-content block %>
	<body class="site">
		<%# The sidebar has had the pusher removed as it broke flex grow for flex footer when on pages not full width.
		Using transition now to animate the sidebar into view %>
		<%= render "layouts/sidebar" %>
		<div id="sticky-nav">
			<%= render "layouts/header" %>
		</div>
		<div class="site-content">
			<% if @top_nav %>
				<div id="top-nav">
					<%= render "layouts/header" %>
				</div>
			<% end %>
			<%= render "layouts/user_modal" %>
			<%= yield %>
		</div>
		<%= render "layouts/footer" %>
	</body>
</html>
